{% extends '../info_page.html' %}


{% block page-content %}

<p>
	The Ground-Shaking Intensity Model Service (eGSIM) is part of the
	<a target='_blank' href='http://www.efehr.org/'>European Facilities for Earthquake Hazard and Risk</a>
	(EFEHR), a non-profit network of organisations and
	community resources aimed at advancing earthquake hazard and
	risk assessment in the European-Mediterranean area.
</p>
<img style="width: 20rem;float:left" src="{% static 'img/logos/efehr_flyer_trans_scaled.png' %}"/>

<p>
	eGSIM is a web application programming interface (API),
	implemented along the lines of popular seismological web services (e.g., FDSN):
	the user can perform queries via configurable
	URLs in order to retrieve model predictions of ground motions from either observed
	or hypothetical earthquake scenarios. These can be used to develop model-to-model
	comparisons of the expected shaking,
	but also to provide fields of expected ground motions and their uncertainties at
	user-defined locations.
	<br/>
	This portal is the service Graphical User Interface (GUI) allowing users to:
</p>
<ul>
	<li> Explore databases of models selected in previous projects such as the 2013
		European Seismic Hazard Model and the European Seismic Risk Model 2020 (ESRM20)
		to help the selection of models on the region of interest
	<li> Undertake visual comparisons of models (Model-to-model comparison)
	<li> Retrieve the predicted model values, query observations of ground motions from
		multiple databases, either predefined or uploaded by the user, and rapidly
		implement quantitative tools to help understanding the suitability of the models for
		their regions of interest (Model-to-data comparison and testing)
</ul>
<p style="display:none">
With eGSIM we also foster the future development of tools to visualize and compute
ground-shaking fields (“shake-maps”) taking into account fault finiteness,
spatial correlations of ground-shaking and definition of spatially variable
amplification factors, and to explore the components of variability in predicted
earthquake ground motions in order to retrieve region-, source- ("between-event term")
and site-specific properties of strong motion scaling (stations "site-term")
</p>
<p>
	<b>We welcome feedback on eGSIM</b>. Please open an Issue in the
	<a target="_blank" href="https://github.com/rizac/eGSIM/issues">
	GitHub Repository</a> with the desired label (e.g. bug, enhancement, question, help)
</p>
{% endblock %}
