{% extends 'info_pages/base.html' %}

{% block page-content %}

<div style='max-width: 40em;text-align: justify;'>

<h1>Legal information / Provider Identification</h1>
<p>
Imprint according to § 5 TMG (Tele Media Act) and § 55 RStV
(German Interstate Treaty on Broadcasting)
</p>

<h3>Provider</h3>
<p>
The provider of this internet presence is the Helmholtz Centre
Potsdam German Research Centre for Geosciences in behalf of
the European Facilities for Earthquake Hazard and Risk
(<a href='http://www.efehr.org/' target='_blank'>EFEHR</a>),
a non-profit network of organisations and community resources
aimed at advancing earthquake hazard and risk assessment in
the European-Mediterranean area.
</p>

<h3>Address</h3>
<p>
Helmholtz Centre Potsdam German Research Centre for Geosciences - GFZ<br>
Telegrafenberg<br>
14473 Potsdam, Germany<br>
Tel.: +49 331 288 0<br>
Website: <a href="https://www.gfz-potsdam.de" target="_blank">www.gfz-potsdam.de</a>
</p>

<h3>Legal form</h3>
<p>
The Helmholtz Centre Potsdam German Research Centre for Geosciences -
GFZ is a Public Law Foundation.
The GFZ is member of the
<a href="https://www.helmholtz.de/" target='_blank'>Helmholtz-Gemeinschaft Deutscher Forschungszentren e.V.
(Helmholtz Association of German Research Centres)</a>.
</p>

<h3>Authorized representatives</h3>
<p>
The GFZ is legally represented by Prof. Dr. Dr. h.c. Reinhard Hüttl
(Chairman of the Board and Scientific Executive Director) and Dr. Stefan Schwartze (Administrative Executive Director).
</p>

<h3>Value Added Tax ID</h3>
<p>
VAT Identification Number according to § 27a VAT Tax Act: DE138407750
</p>

<h3>Editorial Staff</h3>
<p>
Responsible editor for the contents of the web service is
<a href="https://www.gfz-potsdam.de/en/staff/fabrice-cotton/sec26/" target="_blank">Prof. Dr. Fabrice Cotton</a>
(Head of Section 2.6 “Seismic Hazard and Risk Dynamics”)
</p>

<!--  Prof. Dr. Fabrice Cotton</a> (Head of Section 2.6 “Seismic Hazard and Risk Dynamics”),
Phone: +49 331 288 1125
EMail: fabrice.c@gfz-potsdam.de -->

<h4>Editor, conception, coordination (<a href="https://www.gfz-potsdam.de" target="_blank">www.gfz-potsdam.de</a>)</h4>
<p>
<a href="https://www.gfz-potsdam.de/en/staff/riccardo-zaccarelli/sec26/" target="_blank">Dr. Riccardo Zaccarelli</a>
</p>
<!-- Phone: +49 331 288-1043
EMail: me@gfz-potsdam.de  -->

<p>
<a href='https://www.gfz-potsdam.de/en/staff/graeme-weatherill/sec26/' target='_blank'>Dr. Graeme Weatherill</a> (scientific coordinator)
</p>
<!--  Phone: +49 331 288 28631
EMail: graeme.w@gfz-potsdam.de -->

<h3>Screendesign</h3>
<p>
Dr. Riccardo Zaccarelli
</p>

<h3>Technical Realization and support</h3>
<p>
Responsible for the technical implementation is <a href="https://www.gfz-potsdam.de/en/staff/riccardo-zaccarelli/sec26/" target="_blank">Dr. Riccardo Zaccarelli</a>
</p>
<!-- E-Mail: me@gfz-potsdam.de  -->

<h3>Copyright</h3>
<p>The texts and images on this website are protected by copyright.
Copying these files or printing the publications is only permitted for private use.
</p>

<p>All other uses, such as duplication, alteration or use of these graphics, recordings,
video sequences or texts on this website in further electronic or printed publications
for non-commercial and commercial purposes are not permitted without the explicit
consent of the copyright holder - even if they are not labelled as a copyright protected document.
</p>

<p>
Content, which is published under the Creative Commons License may be used only in accordance with the specified license conditions.
</p>

<h3>Liability notice</h3>
<p>The editorial staff controls and updates the available information on these websites at regular intervals. Despite all care, information, data or links may have changed in the meantime. There is no liability or guarantee for the currentness, accuracy and completeness of the information provided.
</p>

<p>The same applies to all other websites, which are referred to by hyperlink. There is not responsibility for the content of the websites that are reached as a result of such a connection. Instead the relevant provider is always responsible for the contents of the linked pages.
</p>

<p>In establishing the initial link, the editorial staff has reviewed the relevant external content in order to determine that they were free of illegal content at the time of linking.
</p>

<p>If you detect errors in content or technology, please let us know.</p>

<p>
<a href="{{ data_protection_url }}" target="_blank">Data Privacy Protection</a>
</p>

</div>
{% endblock %}