<div class='d-flex flex-row' style="flex: 1 1 auto;line-height: 1.75rem;">

	<div class='d-flex flex-column gap-3 align-items-start p-3'
		 style='flex-shrink: 0; flex-grow: 0; height:100%; overflow:auto;'>

		<div style='text-align: justify; width:0; min-width:100%'> <!--make width adjust according to other siblings width -->
			Ground motion data are commonly stored in a tabular data file called Flatfile.
			In eGSIM, flatfiles are used to compare observed or synthetic ground motions
			with the model predictions implemented in OpenQuake.

			To do so, each flatfile record must include the observed ground motions
			(intensity measures such as PGA) and the input data (e.g., magnitude)
			required by the models
		</div>
		<div class='d-flex flex-column gap-3'>
			<div class='d-flex flex-row gap-2'>
				<div class='d-flex flex-column justify-content-around text-nowrap text-right'>
					<div style='height:1.5rem'>&nbsp;</div>
					<div>Header &rarr;</div>
					<div>Record #1  &rarr;</div>
					<div>Record #2  &rarr;</div>
					<div>&ctdot;</div>
				</div>
				<div>
					<div style='height:1.5rem' class='text-center'>&darr; Fields or columns &darr;</div>
					<table class='table table-bordered mb-0'>
						<tr>
							<td>mag</td><td>rhypo</td><td>PGA</td><td>SA(0.1)</td><td>&ctdot;</td>
						</tr>
						<tr>
							<td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td>
						</tr>
						<tr>
							<td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td>
						</tr>
						<tr>
							<td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td><td>&ctdot;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div style='text-align: justify; width:0; min-width:100%'> <!--make width adjust according to other siblings width -->
			Once compiled, flatfiles can be uploaded in HDF (recommended) or CSV format
			and used throughout the application:
		</div>
		<div style='text-align: justify; width:0; min-width:100%' class='d-flex flex-column gap-2'>
			<button type='button' @click="currentPage = pages.flatfile_visualize" class='btn btn-outline-primary'>
				Flatfile visual inspection
			</button>
			<button type='button' @click="currentPage = pages.residuals" class='btn btn-outline-primary'>
				Model-to-data comparison
			</button>
		</div>
	</div>

	<div v-if="Object.keys(responses.flatfile_meta_info || {}).length"
		 style='flex:1 1 auto;height:100%;overflow:auto' class='d-flex flex-column gap-3 p-3'>
		<div class='d-flex flex-row align-items-stretch gap-3'>
			<div style='flex:1 1 auto'>
				{% verbatim %}
				<b>Selected
				{{ forms.flatfile_meta_info.gsim.length == 1 ? 'model' : 'models' }}:
				{{ forms.flatfile_meta_info.gsim.length }}</b>,
				<b>flatfile minimum required fields:
				{{
					responses.flatfile_meta_info.columns.filter(c => !c.type.toLowerCase().includes("intensity")).length + 1
				}}
				</b>
				(at least one intensity measure
					and {{ responses.flatfile_meta_info.columns.filter(c => !c.type.toLowerCase().includes("intensity")).length }}
					mandatory input parameter(s):
					{{ responses.flatfile_meta_info.columns.filter(c => !c.type.toLowerCase().includes("intensity")).map(c => c.name).join(", ") }}).

				Any other supplied field will be safely ignored, but try to avoid uploading data
				unnecessarily. The fields order is irrelevant.
				{% endverbatim %}
			</div>
			<button type="button" title="Select new models and intensity measures"
					class="btn btn-outline-primary btn-sm"
					@click='responses.flatfile_meta_info = {}'>
				Change models selection
			</button>
		</div>
		<div style='flex:1 1 0px; overflow:auto' class='border'>
			<table class='table table-striped-columns' style='height:100%'>
				<thead class='table-dark'>
					<tr>
						<td>Field</td>
						<td>Type</td>
						<td>Data type</td>
						<td>Description</td>
					</tr>
				</thead>

				<tbody>
					<tr v-for="col in responses.flatfile_meta_info.columns">
						<td v-html="col.name.startsWith('SA') ? 'SA(&ctdot;)' : col.name" class="text-nowrap"></td>
						<td v-html="col.type.replaceAll('_', ' ')" class="text-nowrap"></td>
						<td v-html="col.dtype" style="max-width: 10rem"></td>
						<td v-html="col.help"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div v-else class='d-flex flex-column gap-2 ms-2' style='flex: 1 1 auto; height:100%;'>
		<div class='pt-3 ps-2'>
			To facilitate the compilation of your own flatfile,
			you can get here the required fields
			according to your models of interest:
		</div>
		<div style='flex: 1 1 auto' class='position-relative border-start border-top'>
			<gsim-map @gsim-selected="(gs) => { forms.flatfile_meta_info.gsim = Array.from(new Set(forms.flatfile_meta_info.gsim.concat(gs))) }"
					  @gsim-unselected="(gs) => { forms.flatfile_meta_info.gsim = forms.flatfile_meta_info.gsim.filter(g => !gs.includes(g)); }"
					  :regionalizations="regionalizations"
					  :region-selected-url="urls.get_gsim_from_region"
					  style='position:absolute;inset:0px;z-index:0'>
			</gsim-map>

			<form novalidate @submit.prevent=""
				  class='position-absolute d-flex flex-column p-3 gap-3'
				  style='position: absolute; top: 0px; min-width: min(50vw, 33rem); max-width: 50vw; max-height: 100%; z-index: 1;'>

				<gsim-select v-model="forms.flatfile_meta_info.gsim"
							 :models="models"
							 :selected-imts="forms.flatfile_meta_info.imt"
							 :model-info-url="urls.get_gsim_info"
							 style="flex: 0 1 auto; min-height:0px">
				</gsim-select>

				<button class='btn btn-primary' type='button'
						:disabled="forms.flatfile_meta_info.gsim.length == 0"
						@click='post(urls.flatfile_meta_info, forms.flatfile_meta_info).then(r => r.json()).then(data => { responses.flatfile_meta_info = data; });'>
					Get flatfile required fields
				</button>
			</form>
		</div>

	</div>

</div>