certifi==2018.1.18 chardet==3.0.4 cycler==0.10.0 decorator==4.2.1 Django==2.0.2 docutils==0.14 h5py==2.7.1 idna==2.6 matplotlib==2.1.2 mock==1.3.0 nose==1.3.7 numpy==1.11.3 -e git+https://github.com/gem/oq-engine.git@dfa85b27651a0d711e49a309b9d4c370da8834ee#egg=openquake.engine pbr==3.1.1 pkg-resources==0.0.0 psutil==5.4.3 pyparsing==2.2.0 pyshp==1.2.10 python-dateutil==2.6.1 pytz==2018.3 PyYAML==3.12 pyzmq==16.0.4 requests==2.18.4 scipy==0.17.1 Shapely==1.6.4.post1 six==1.11.0 -e git+https://github.com/g-weatherill/gmpe-smtk.git@f22a88156b14a65e3a60eda3ac3ae7329c6d07f0#egg=smtk urllib3==1.22