astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
cycler==0.10.0
decorator==4.4.0
Django==2.2.13
docutils==0.14
h5py==2.8.0
idna==2.7
isort==4.3.16
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.4
mccabe==0.6.1
mock==2.0.0
more-itertools==7.0.0
numexpr==2.6.9
numpy==1.14.6
-e git+https://github.com/gem/oq-engine.git@570cf1f620d1ba830b9d922f461de293bc79ca39#egg=openquake.engine
pbr==5.1.3
pluggy==0.9.0
psutil==5.4.8
py==1.8.0
pylint==2.3.1
pyparsing==2.3.1
pyshp==1.2.3
pytest==4.4.0
pytest-cov==2.6.1
pytest-django==3.4.8
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
pyzmq==17.1.3
requests==2.20.1
Rtree==0.8.3
scipy==1.1.0
Shapely==1.6.4.post2
six==1.12.0
# -e git+https://github.com/rizac/gmpe-smtk.git@b611e3e66bd958e6b03b54583bd6296c42d7c23b#egg=smtk
tables==3.5.1
toml==0.10.0
typed-ast==1.3.1
urllib3==1.24.2
wrapt==1.11.1
