@page{
	margin: 2.5cm 2.5cm 2.5cm 2.5cm; /*top right bottom left*/
}

@media print {

	/* https://stackoverflow.com/a/28441659 */
	div { float: initial !important; position: initial !important; display: initial !important; 
          box-sizing: initial !important; width: initial !important; max-width: initial !important;
          /*padding: initial !important; margin: initial !important;*/ background-color: unset !important;
    }
    body {
    	height: initial !important;
        font-size: 20px !important;
    	background-color: initial !important;
    }
    div#toc{
    	display: none !important;
    }
    .bg-light{
    	background-color: initial !important;
    }
}

/* counters */

h1, #toc {
	counter-reset: section;
}
h2, #toc a._h2 {
	counter-reset: subsection;
}
h3, #toc a._h3{
	counter-reset: subsubsection;
}
h2::before, #toc a._h2:before {
	counter-increment: section;
  	content: counter(section) ".";
  	padding-right: .25rem;
  	margin-right: .25rem;
}
h3::before, #toc a._h3:before{
	counter-increment: subsection;
  	content: counter(section) "." counter(subsection);
  	padding-right: .25rem;
  	margin-right: .25rem;
}
h4::before, #toc a._h4:before {
  	counter-increment: subsubsection;
  	content: counter(section) "." counter(subsection) counter(subsubsection, lower-latin);
  	padding-right: .25rem;
  	margin-right: .25rem;
}
#toc a._h2 {
	padding-left: 0rem;
}
#toc a._h3{
	padding-left: 1rem;
}
#toc a._h4{
	padding-left: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	 /*color: #c9d0d4;*/
	 /* font-family: 'Helvetica Neue', sans-serif; */
	 /* font-size: 46px; */
	 font-weight: 100;
	 line-height: 50px;
	 letter-spacing: 1px;
	 margin: 3rem 0px 1rem !important;
	 /* padding: 30px 5px 15px; */
	 /* background-color: #ececec !important; */
}

.h1, h1{
	font-weight: 300;
	border-bottom: 2px double rgba(236, 236, 236, .6) !important;
}

.h2, h2, .h3, h3, .h4, h4, h2::before, h3::before, h4::before{
	border-top-left-radius:.25rem;
	border-bottom-left-radius:.25rem;
}

.h2, h2, .h3, h3{
	padding-left: .5rem;
	background-color: rgba(236, 236, 236, .8) !important;
}


p, ul, table{font-family: Lato, Helvetica, Arial, Tahoma, sans-serif;}
ul:not(:last-child), table:not(:last-child), pre:not(:last-child){
	margin-bottom: 1rem; /*same margin bottom as <p> */
}

div.content{max-width: 48em;}

code{color: initial;}

pre[class*=language-]{
	background-color: initial !important;
	/* border: none; */
	padding:.5rem;
	/* padding-left: 0px; */
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

table{
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); /*(copied from shadow-sm of bootstrap.css) */
	background-color: initial !important;
}

/* h2{
	background-color: #ececec !important;
} */

table td{padding: .3rem; vertical-align:middle;text-align:initial;}
table > thead{font-weight: bold;}

/* table borders: */
table{width:100%;}
table td{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}  /* lightgray is #ccc */
table.csv td{white-space: nowrap;}

table.csv td, table.grid td, thead.grid td,
tbody.grid td, tfoot.grid.td,
table{
	border: 1px solid #ddd;
}

table, pre[class*=language-]{font-size:90%;}
/*make pre inside table as we expect and not too small: */
table pre[class*=language-]{font-size:100% !important;}
table.csv{font-size:75%;}

/* backgrounds for  x and y labels */
table.csv td.xvalues, span.xvalues{
	background-color:#f1f3d4;
}
table.csv td.yvalues, span.yvalues{
	background-color:#e6f0f8;
}
span.xvalues, span.yvalues{
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid lightgray;
	vertical-align:text-bottom;
}

a, a:hover{
	text-decoration:none;
}

table.egsim-form-parameters .param-notes,
table.egsim-form-parameters .param-alternative-name,
.footnote{
	color: gray;
	font-size: 87%;
}

/* override string key colors in JSON objects: */
.language-json .token.property {
    color: #690; /*same as strings */
}
/* colon in dicts with no background: */
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    background: initial; /*hsla(0,0%,100%,.5);*/
}

#toc .menu-item{
	color: initial !important;
}
#toc .menu-item:hover, .toc .menu-item.active{
	background-color: #b8daff;
}