
.height100{
	height: 100vh;
}

body{
	font-family: Encode Sans Condensed, sans-serif, "Ubuntu Mono", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.flex-direction-row, .flex-direction-col{
	display: flex;
	/* justify-content: space-evenly; */
}
.flex-direction-row{
	flex-direction: row;
}
.flex-direction-col{
	flex-direction: column;
}
.flex-direction-row > .flexible, .flex-direction-col > .flexible,
.flex-direction-row > .flexible-half, .flex-direction-col > .flexible-half{
	flex: 1 1 auto; /* for letting this work with grid layout the last element (flex-basis) should be zero: https://stackoverflow.com/a/48454476 */
	overflow: auto;
}

.flex-center{
	flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

/* flexible-half has the property of setting its base width/height to 50% of the container,
used for twin panels aligned left and right (or top and bottom) which might take 100% space if alone,
or same space of the other twin, if present: */
.flex-direction-row > .flexible-half, .flex-direction-col > .flexible-half{
	flex-basis: 50% !important;
}
iframe{
	border:0;
	margin:0;
}

/* style combo-boxes (select elements). For info see: https://github.com/twbs/bootstrap/issues/16201#issuecomment-260872271
and https://stackoverflow.com/a/38187626 */
select.form-control:not([multiple]) {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: none right / 20px no-repeat #fff;
    /*
     background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='28px' height='14px' viewBox='0 0 1200 1200' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
	*/
}

/* absolute positioning (not in standard bootstrap), to be used with bootstrap's .position-absolute: */
.pos-t-0, .pos-y-0, .pos-0{
	top: 0px;
}
.pos-b-0, .pos-y-0, .pos-0{
	bottom: 0px;
}
.pos-l-0, .pos-x-0, .pos-0{
	left: 0px;
}
.pos-r-0, .pos-x-0, .pos-0{
	right: 0px;
}

.bg-light{ /* override bootstrap */
	background-color: #fafafa !important;
}

/* shadows not enabled in bootstrap, copy code here: */
.shadow-sm { /* small */
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.shadow { /* normal */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-lg { /* large */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
/* change disabled text color to makei it lighter */
*[disabled]{ /*input[type="text"][disabled] {*/
   color: lightgray;
}
/* change option selection color. NOTE: we can only set a background image on them:*/
select[multiple]:focus option:checked:not(:disabled) {
	background-image: linear-gradient(0deg, #a2cd7e 0%, #a2cd7e 100%);
}
select[multiple] option:checked:not(:disabled) {
	background-image: linear-gradient(0deg, #d6e9c6 0%, #d6e9c6	 100%);
}
/* transitions for hding showing */
.tab-activated{
	position: initial;
	z-index: initial;
	-webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
	opacity: initial;
}
.tab-deactivated{
	position: absolute;
	z-index: -1000;
	/* -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out; */
    opacity: 0;
}