/* html, body, #main-container{
	height:100vh;
	width:100vw;
} */
.height100{
	height: 100vh;
}
/* #main-container {width: 100vw; height: 100vh; overflow: hidden; padding: 1ex; padding-top:0;} */
body{
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.flex-direction-row, .flex-direction-col{
	display: flex;
	justify-content: space-evenly;
}
.flex-direction-row{
	flex-direction: row;
}
.flex-direction-col, .page-scroller{
	flex-direction: column;
}
.flex-direction-row > .flexible, .flex-direction-col > .flexible,
.flex-direction-row > .flexible-half, .flex-direction-col > .flexible-half{
	flex: 1 1 auto;
	overflow: auto;
}
/* flexible-half has the property of setting its base width/height to 50% of the container,
used for twin panels aligned left and right (or top and bottom) which might take 100% space if alone,
or same space of the other twin, if present: */
.flex-direction-row > .flexible-half, .flex-direction-col > .flexible-half{
	flex-basis: 50% !important;
}
iframe{
	border:0;
	margin:0;
}
/* shadows not enabled in bootstrap, copy code here: */
.shadow-sm { /* small */
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.shadow { /* normal */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-lg { /* large */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
/* change disabled text color to makei it lighter */
*[disabled]{ /*input[type="text"][disabled] {*/
   color: lightgray;
}
/* change option selection color. NOTE: we can only set a background image on them:*/
select[multiple]:focus option:checked:not(:disabled) {
	background-image: linear-gradient(0deg, #a2cd7e 0%, #a2cd7e 100%);
}
select[multiple] option:checked:not(:disabled) {
	background-image: linear-gradient(0deg, #d6e9c6 0%, #d6e9c6	 100%);
}
/* transitions for hding showing */
.tab-activated{
	position: initial;
	z-index: initial;
	-webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
	opacity: initial;
}
.tab-deactivated{
	position: absolute;
	z-index: -1000;
	/* -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out; */
    opacity: 0;
}