/* set here the height of the progressbar/waitbar. For info see: https://www.pexels.com/blog/css-only-loaders/ */
#waitdiv{
	z-index: 200;  /* to sit on top of everything, in case */
}
.loader, .loader:before {
	height: 10px;
}
.loader {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #999;
}
.loader:before{
	display: block;
	position: absolute;
	content: "";
	left: -200px;
	width: 200px;
	background-color: #ffc107; /*#a2cd7e;*/
	animation: loading 2s linear infinite;
}
@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
/* end custom progressbar/waitbar */

div.testing-table{
	border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 3px;
    /* override bootstrap: */
	color: initial !important;
    background-color: initial !important;
}

table.testing-table th{
	border: none !important;
	padding:.5rem;
	line-height: 1rem;
	cursor:pointer
}

/* transitions. See: https://vuejs.org/v2/guide/transitions.html */

.egsimform-enter-active, .egsimform-leave-active {
	transition: all .4s;  /* with all, everything put in the class below will be animated (transitioned) */
	transform-origin: top;
}
.egsimform-enter, .egsimform-leave-to /* .fade-leave-active below version 2.1.8 */ {
	transform: scaleY(0);  /* in case you wonder, width, max-width (and height) do not work (conflict with flex layout?) */
}


.fade-enter-active, .fade-leave-active {
	transition: opacity .4s ease-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}