#gfz_gmpe_site_wrapper {width: 100vw; height: 100vh; overflow: hidden; padding: 1ex; padding-top:0;}

body{
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* tessellations border color */
path.leaflet-interactive{
	stroke: gray;
	stroke-dasharray: 0;
    stroke-width: 1;
}

.glyphicon + *{
	margin-left: 5px;
}

.flex-direction-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.flex-direction-col, .page-scroller{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.flex-direction-row > .flexible, .flex-direction-col > .flexible,
.flex-direction-row > .flexible-half, .flex-direction-col > .flexible-half{
	flex: 1 1 auto;
	overflow: auto;
}

/* flexible-half has the property of setting its base width/height to 50% of the container,
used for twin panels aligned left and right (or top and bottom) which might take 100% space if alone,
or same space of the other twin, if present: */
.flex-direction-row > .flexible-half, .flex-direction-col > .flexible-half{
	flex-basis: 50% !important;
}

.flex-direction-row > *:not(:first-child){
	margin-left: 10px;
}

.flex-direction-col > *:not(:first-child){
	margin-top: 10px;
}

.page-scroller{
	justify-content:space-evenly;
}

.page-scroller > button:not([class]), .page-scroller > input[type=submit]:not([class]), .transparent{
    border: none;
    background-color: transparent;
    /* color: initial; */
}

#errFrame{
	max-height:15em;
	border: none;
	width: 100%;
}

#trellisContainer, #trellisContainer > div{
	/* These div's flex-basis is calculated dynamically, browsers might round up, scrollbars might appear. So: */
	overflow: hidden; 
}

.plot-container{
	/* background-color: green; */
}

.logos{
	text-align: center;
    padding-bottom: 1em;
}

.logos img{
	height: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2em;
}


/* .form-control-container input:not([type=checkbox]):not([type=radio]), .form-control-container textarea,
.form-control-container select{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */
