.logos{
	text-align: center;
    padding-bottom: 1em;
}

.logos img{
	height: 3em;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin-left: 2em;
}

.home-title{
	font-size: 500%;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}