<!DOCTYPE html>
<html>

  <head>
    <script data-require="vue.js@2.2.6" data-semver="2.2.6" src="vue.2.5.13.js"></script>
    <!-- <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script> -->
  </head>

  <body>
    
    <div id='main'>
      <input type='text' v-model='fullName' />
      <div>{{ fullName }}</div>
      
      <service-panel index="0">
      	<input-selection title='cazzo va!' index="0">
      		<ul><li v-for="g in gsims">{{ g }}</li></ul>
      	</input-selection>
      	<config-scenario index="1"></config-scenario>
      </service-panel>
      
      <service-panel index="1">
      	<input-selection title='cazzo va2!' index="0"></input-selection>
      </service-panel>
      
      <!-- <div id='trellisplots'>
      <sub-panel title='trellis'>{{ myData }} - {{ goodData }}<ul v-for="g in gsims">{{ g }}</ul></sub-panel>
      </div>
      
      <div id='dataanalysis'>
      <sub-panel title='dataa'>{{ myData }}<ul v-for="g in gsims">{{ g }}</ul></sub-panel>
      </div> -->
      
      
    </div>
  </body>

  <script type='text/javascript'>
  // Define a new component called todo-item
  // ALL COMPONENTS BEFORE THE VIEW. For large projects, see 
  // https://vuejs.org/v2/guide/single-file-components.html
  
  	// define templates here:
  	var subPanelSharedData = {
  		template: ` <div class="flex-direction-col flexible">
					<legend> {{ title }} </legend>
					<div class="flexible">
						<slot></slot>
					</div>`,
		props: ['title', 'index'],  // https://012.vuejs.org/guide/components.html#Passing_Data_with_Props
		// define methods under the `methods` object
		methods: {
		  setValid: function (value) {
		    // `event` is the native DOM event
		    this.$dispatch('isValid', value, this.$options.propsData.index);
		  }
		}
  	};
  
  	
	Vue.component('service-panel', {
  		template: `<div class="flex-direction-row flexible" v-show='this.$options.propsData.index == this.$parent.$data.serviceindex'>
						<slot></slot>
				    </div>`,
		props: ['index'],
		data: function(){ return {
		    show: function(){ return this.$options.propsData.index == this.$parent.$data.serviceindex; } // is this REALLY the proper way??!!!
		}}
	});
	
  	
	Vue.component('input-selection', Object.assign({}, subPanelSharedData, {
	    
	}));
	
	Vue.component('config-scenario', Object.assign({}, subPanelSharedData, {
	    
	}));
  
	
	/* Vue.component('trellis-plot', {
	    template: `<div class="flex-direction-row flexible">
						<slot></slot>
					</div>`,
		props: ['servicename']
	});
	
	Vue.component('data-analisis', {
	    template: `<div class="flex-direction-row flexible">
						<slot></slot>
					</div>`
	}); */
  
  
    new Vue({
        el: '#main',
        data: {  // object (or function) whre data can be bound to from the view
          firstName: 'Foo',
          lastName: 'Bar',
          gsims: ['a', 'b', 'o', 'd'],
          myData: 'ax',
          services: ['trellis-plots', 'data-analysis'],
          serviceindex: 0
        },
        computed: { // computed is like data but ... computed, and we can use, e.g. getters setters
          fullName: {
            // getter
            get: function () {
              return this.firstName + ' ' + this.lastName;
            },
            // setter
            set: function (newValue) {
              var names = newValue.split(' ')
              this.firstName = names[0];
              this.lastName = names[names.length - 1];
            }
          }
        },
        methods: {} // attach events, each func here can be invoked with 'v-on:methodName' on the view
      });
    
    	
    
    
  </script>

</html>