{% extends 'base.html' %}

{% block head %}
	{% with fontawesome=False leaflet=False plotly=False %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block extra-head %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!-- includes css for form-related stuff (e.g. waitbar)  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/apidoc.css' %}">
{% endblock %}

{% block body %}
<div class='flexible flex-direction-row'>
<div id='toc' class='px-4 pt-3' style='overflow:auto'>
</div>
<div class='flexible text-justify px-4 pt-3'>
<div class='content'>

<h1>eGSIM API</h1>
{% if last_modified %}
<p style='font-size:50%;text-align:right;'>Last modified: {{ last_modified }}</p>
{% endif %}

<p>
eGSIM is a web service for selecting and testing Ground
Shaking Intensity Models (GSIM) in Europe on top of  
<a target="_blank" href="https://github.com/GEMScienceTools/gmpe-smtk#gmpe-smtk">gmpe-smtk</a>,
a Python and
<a target="_blank" href="https://github.com/gem/oq-engine/#openquake-engine">OpenQuake</a>-based
toolkit for analysis of strong Motions and interpretation of Ground Motion Perdiciton Equations (GMPE).
As server-side web application programming interface (API), the goal
of eGSIM is to provide most of the toolkit functionalities via 
several publicly exposed endpoints (URLs) to a defined and easy to use request–response message
system.
</p>


<h2 id="generalfeatures">General features</h2>
<p>
eGSIM is implemented along the lines of typical web services (see e.g. the
<a target="_blank" href="https://www.fdsn.org/webservices/FDSN-WS-Specifications-1.1.pdf">FDSN protocol</a>):
<i>requests</i> can be issued by a client (eGSIM user) in several ways such as e.g. command line
applications like <code>wget</code> or inside client code with dedicated libraries
(e.g. Python's <code>urllib.request</code>). Requests require an endpoint, i.e. an URL denoting
a specific service, a method (GET vs POST) and usually parameters for tuning the functionality.
The web server processes the request and returns a <i>response</i> to the client in specific
formats described in the remainder of this document.
</p>


<h3 id="requestendpoints">Requests endpoints</h3> 
<p>
The following base URI pattern is to be used for each request:
</p>

<code>{{ baseurl }}/&lt;service&gt;</code>

<p>
where <code>&lt;service&gt;</code> is one of the following:
</p>
<ul>
	<li><code>{{ gsimsel }}</code> for <a href="#gsimselection"> Gsim selection</a> </li>
	<li><code>{{ trellis }}</code> for generating <a href="#trellisplots"> Trellis plots data</a> </li>
	<li><code>{{ residuals }}</code> for <a href="#residualanalysis"> Residual analysis</a> </li>
	<li><code>{{ test }}</code> for <a href="#testing">Testing</a> </li>
</ul>


<h3 id="requestmethods">Requests methods</h3>
<p>
eGSIM services will be invoked using a subset of REST and HTTP methods. In particular all services
will be invoked using the HTTP GET method whenever possible. As for FDSN web services,
the HTTP POST method might be invoked for the 
cases where the selection parameters are potentially large in size (typically, POST request
are used to send data to create/update a resource on the server. Unless otherwise stated,
this is generally not the case here).
</p>

<h4>GET method</h4>
<p>
Requests issued with the GET method simply concatenate the parameters names and
values directly in the URL:
</p>

<code>{{ baseurl }}/&lt;service&gt;?<span class="token key atrule">name1</span>=<span class="token number">value1</span>&<span class="token key atrule">name2</span>=<span class="token number">value2</span></code>

<h4>POST method</h4>
<p>
Requests issued with the POST should use the usual URI pattern:
<code>{{ baseurl }}/&lt;service&gt;</code>
and provide the parameters set by means of additional data as text in
<a target="_blank" href="https://en.wikipedia.org/wiki/JSON#Data_types.2C_syntax_and_example">JSON</a> or
<a target="_blank" href="https://en.wikipedia.org/wiki/YAML#Example">YAML</a> format.
The way the POST request has to be built with its data is responsibility of the user
as it depends on the client software. For instance, this code snippet shows how to build a request using Python (see 
<a href='https://docs.python.org/3/howto/urllib2.html' target="_blank">HOWTO Fetch Internet Resources Using The urllib Package</a> for details):
</p>

<pre><code class="language-python">import json
import yaml  # needs PyYAML installed

# imports for Python3  (comment/remove in Python2):
from urllib.request import Request, urlopen
from urllib.error import URLError, HTTPError

# imports for Python2 (comment/remove in Python3):
from urllib2 import Request, urlopen, URLError, HTTPError

# 1) Request using the GET method:
req = Request("write here your eGSIM endpoint URL with encoded parameters")

# 2a) Request using the POST method, assuming JSON text file:
with open('/path/to/my/file.json', 'r') as stream:
    jsondata = json.load(f)
req = Request("write here your eGSIM endpoint URL", data=jsondata)

# 2b) Request using the POST method, assuming YAML or JSON text file
#     (YAML is a superset of JSON and thus this works also with JSON files):
with open('/path/to/my/file.yaml', 'r') as stream:
    yamldata = yaml.safe_load(stream))
req = Request("write here your eGSIM endpoint URL", data=yamldata)</code></pre>

<h3 id="requestparameters">Request parameters</h3>
<p>
Request parameters can be input in three ways: in the URL of a GET request, in a YAML- or
JSON-formatted text file in case of POST request, or via input components of the
web Graphical User Interface (GUI) thorugh a web browser.

eGSIM supports the following parameter types:
</p>
<ul>
<li>numeric
<li>string
<li>boolean
<li>UTC date-time (in ISO format without timezone, e.g.:
<code>2016-01-30T23:15:11</code> or <code>2016-01-31</code>)
<li>arrays (vectors) of the previous types
<li>numeric ranges (i.e., equally spaced numeric arrays) in the Matlab(c) format <code>start:step:end</code>
(e.g. <code>0:0.1:0.3</code> results in the sequence of values 0, 0.1, 0.2, 0.3)
</ul>

<p>
For POST requests, most types are supported in YAML and JSON <i>except</i> numeric ranges, which must be
input as strings with quotes (e.g. <code>"0:0.1:0.3"</code>).
JSON does <b>not</b> support also date-times, which thus need 
to be input in the same way, e.g.: <code>"2016-01-31T23:15:00"</code> (in YAML, date-times as quoted strings are permitted
but not mandatory).
</p>
<p>
For GET request URLs, and
from within an input component of the Web GUI, <b>spaces, commas (,) and colons (:) might be treated as special characters</b>: 
as already described, the colon acts as separator for numeric ranges, whereas 
spaces and commas act as element separators in arrays (but only the comma is valid in GET requests URLs, being
spaces not allowed by definition).
Arrays can be input with or without leading and trailing square brackets, and no parameter value needs to be quoted.
</p>
<p>
 For instance, assuming a general <code>example</code> service requiring
three numeric parameters (dip, scalar, Vs<sub>30</sub>, array and ranges of
magnitudes) the user input, depending on the request's method, should look like:
</p>

<table class='nopagebreak'>
<tr>
	<td>GET</td>
	<td colspan="2"><code>{{ baseurl }}/example?dip=45&vs30=560,760&magnitude=3:0.5:5</code></td>
</tr>
<tr>
	<td rowspan="3">POST</td>
	<td colspan="2">
		<code>{{ baseurl }}/example</code>
	</td>
</tr>
<tr>
	<td style='border-color:transparent'>data (YAML file)</td><td style='border-color:transparent'>data (JSON file)</td>
</tr>
<tr>
	<td><pre><code class="language-yaml">dip: 45
vs30:
 - 560
 - 760
magnitude: "3:0.5:5"
</code></pre></td>
	<td><pre><code class="language-json">{
  "dip": 45, 
  "vs30": [560, 760],
  "magnitude": "3:0.5:5"
}</code></pre></td>
</tr>
<tr>
	<td>Web GUI components</td>
	<td colspan="2">
		<div><span style='display:inline-block;width:8rem'>Dip</span> <input type="number" value="45"/></div>
		<div><span style='display:inline-block;width:8rem'>Vs<sub>30</sub></span> <input type="text" value="560 760"/></div>
		<div><span style='display:inline-block;width:8rem'>Magnitude</span> <input type="text" value="3:0.5:5"/></div>
	</td>
</table>

<p>
The full description of the parameters and their constraints will be given in each service specific
section below.
</p>

<h3 id="responsedata">Response data</h3>
<p>
The response data type of a successfully fullfilled request might depend on the service used and
the parameter issued in the request, but all eGSIM services can return data at the least in CSV
and JSON formatted text (bytes sequences): for client code processing response data, both formats
are widely supported in most programming languages. For JSON, example are
the Matlab <a href="https://www.mathworks.com/help/matlab/ref/jsondecode.html" target="_blank">jsonencode</a> function or the Python builtin <code>json</code> library. 
Csv format has the advantage to be easily visualizable in widely used spreadsheet softwares (like e.g.
LibreOffice). JSON is usually preferable in web applications: the eGSIM web GUI for instances
requests data in this format. 
</p>

<p>
Unsuccessful requests might fail for several reasons. In case of client
or server errors, such as e.g. bad or missing parameters, eGSIM always returns responses
in JSON formatted byte strings following the <a href="https://google.github.io/styleguide/jsoncstyleguide.xml#Reserved_Property_Names_in_the_error_object" target="_blank">
google API specification</a>. Example:
</p>

<pre><code class="language-python">{
	"code": 400,  # the HTTP error numeric code &ge;400
	"message": "input validation error",  # the HTTP error message
	"errors": [  # optional array of parameter specific errors:
		{
	    	"domain": "magnitude",  # the parameter name
	    	"message": "This field is required.",  # the parameter-specific
	    										   # error message
	    	"reason": "required"  # the parameter-specific
	    						  # error reason
	  	},
	  ...
	]
}</code></pre>

<p>
For instance, this code snippet modified from the
<a href="https://docs.python.org/3/howto/urllib2.html" target="_blank">standard Python how-to reference</a>
shows how to issue a request to a eGSIM service and catch potential errors in both Python2 and 3
(tested with Python 2.7 and 3.6):
</p>

<pre><code class="language-python">import json

# imports for Python3  (comment/remove in Python2):
from urllib.request import Request, urlopen
from urllib.error import URLError, HTTPError

# imports for Python2 (comment/remove in Python3):
from urllib2 import Request, urlopen, URLError, HTTPError

req = Request("write here your eGSIM endpoint URL")
try:
    data = json.loads(urlopen(req))
except HTTPError as e2:
    # handle HTTP errors because of a server or client error, e.g.:
    print("Http error %d" % e2.code)
    # If you want to dig into details,
    # load the JSON formatted response into a Python dict:
    errordict = json.loads(e2.read())
    # now you can access fields such as
    # errordict.errors, errordict.message, ...
except URLError as e1:
    # handle general url errors like network errors. e.g.:
    print("Url error. Reason: %s" % e1.reason)
</code></pre>


<h2 id="gsimselection">Gsim selection</h2>
<p>
{{ form_gsims | safe }}
</p>

<h2 id="trellisplots">Trellis plots</h2>
<p><b>Endpoint: <code>{{ baseurl }}/{{ trellis }}</code></b></p>
<p>
Trellis plots provide an understanding of the manner in which each GMPE characterises the ground
motion scaling with respect to the properties of the seismic source, and the attenuation of the
motion with respect to distance. By means of the
underlying gmpe-smtk library, eGSIM can generate different plot types:
<ul>
<li> IMT vs Magnitude plots show how the ground motion intensity value scales with
respect to the magnitude of the rupture.
<li> IMT vs Distance plots allow to compare how the GMPEs describe the attenuation of strong
motion with distance for a given magnitude. 
<li> Magnitude-Distance spectra let the user understand how a
GMPE will scale the response spectrum with magnitude and distance.
</ul>
<p>
In addition to viewing the scaling of the expected ground motion from the GMPE,
it is also possible to view the scaling of the standard deviation, for a total of six
choosable plot types.
</p>

<h3>Request</h3>
<p>
A request to the Trellis plot service requires a list of GMPEs and IMTs,
the desired plot type and the parameters configuring the scenario (rupture), most of which are
optional. As discussed, parameters can be given in the endpoint URL (GET method) or as
separate text data in JSON or YAML format (POST method) and are:
</p>

{{ form_trellis | safe }}

<h3>Response</h3>
<p>
The number of generated Trellis plots depends on the requested Intensity measure types (parameter {{ param.imt }}) <i>and</i> the parameters {{ param.magnitude }}, {{ param.distance }} and {{ param.vs30 }} (which can be given as numeric scalr or array):
</p>

<table class='nopagebreak'>
<thead>
<tr>
	<td>Plot type</td>
	<td>Parameter setting the x values (should be numeric array):</td>
	<td>The number of generated plots is the product of all supplied values of:</td></tr>
</thead>
<tbody>
<tr><td>IMT vs. distance</td><td>{{ param.distance }}</td><td>{{ param.imt }}, {{ param.magnitude }}, {{ param.vs30 }}</td></tr>
<tr><td>IMT vs. magnitude</td><td>{{ param.magnitude }}</td><td>{{ param.imt }}, {{ param.distance }}, {{ param.vs30 }}</td></tr>
<tr><td>Magnitude-distance spectra</td><td>None: a set of pre-defined periods will be used</td><td>{{ param.imt }}, {{ param.magnitude }}, {{ param.distance }}, {{ param.vs30 }}</td></tr>
</tbody>
</table>

<h4>JSON</h4>
<p>
Trellis plot data returned in JSON format will have the following structure (the text after the
character <code>#</code> denotes comments which are meant to be explanatory for the reader: as
JSON does not support comments they are not part of the response's text file):
</p>
<pre><code class="language-python">{
	"xvalues": [2.905, 3.771, ... ],  # All trellis plots share the same x 
	"xlabel": "Rupture Dist. (km)",   # see above
	"figures": [  # List of generated Trellis plots
		{
			"imt": "PGA",  # this plot's Intensity measure type
			"yvalues":{  # the y data, per selected GMPe
				"AkkarBommer2010": [0.3811, 0.3812, ...],
				"CauzziFaccioli2008": [0.283, 0.283, ...],
				...
			},
			"ylabel": "Median PGA (g)",  # If the scaling of standard
									     # deviation has been asked, it will
									     # be with 'StdDev PGA (g)'
			"magnitude": 5,  # the magnitude set for this plot, or null if
						     # the magnitudes are used as x values
			"distance": null,  # the magnitude set for this plot, or null if
						       # the magnitudes are used as x values
			"vs30": 760  # the vs30 set for this plot
		},
		...
	]
}</code></pre>


<h4>CSV</h4>
<p>
Trellis plot data returned in CSV format will have the following structure.
<br>
<span class='xvalues'></span> = x values (first cell is the x label), 
<span class='yvalues'></span> = y values (first cell is the y label)
</p>

<h5>Vertical display &varr; :</h5>


<table class='csv'>
<tr>
	<td>&nbsp;</td>
	<td>AkkarBommer2010</td>
	<td>AkkarBommer2010</td>
	<td>&hellip;</td>
	<td>CauzziFaccioli2008</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>PGA</td>
	<td>PGA</td>
	<td>&hellip;</td>
	<td>PGA</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>magnitude:</td>
	<td>5</td>
	<td>5.5</td>
	<td>&hellip;</td>
	<td>5</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>distance:</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>vs30:</td>
	<td>760</td>
	<td>760</td>
	<td>&hellip;</td>
	<td>760</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>Rupture Dist. (km)</td>
	<td class='yvalues'>Median PGA (g)</td>
	<td class='yvalues'>Median PGA (g)</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>Median PGA (g)</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>2.905</td>
	<td class='yvalues'>0.3811</td>
	<td class='yvalues'>0.283</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>0.21</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>3.771</td>
	<td class='yvalues'>0.3812</td>
	<td class='yvalues'>0.283</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>0.291</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
</tr>
</table>

<h5>Horizontal display &harr; :</h5>

<table class='csv'>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class='xvalues'>Rupture Dist. (km)</td>
	<td class='xvalues'>2.905</td>
	<td class='xvalues'>3.771</td>
	<td class='xvalues'>&hellip;</td>
</tr>
<tr>
	<td>AkkarBommer2010</td>
	<td>PGA</td>
	<td>magnitude:</td>
	<td>5</td>
	<td>distance:</td>
	<td></td>
	<td>vs30:</td>
	<td>760</td>
	<td class='yvalues'>Median PGA (g)</td>
	<td class='yvalues'>0.3811</td>
	<td class='yvalues'>0.3812</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td>AkkarBommer2010</td>
	<td>PGA</td>
	<td>magnitude:</td>
	<td>5.5</td>
	<td>distance:</td>
	<td></td>
	<td>vs30:</td>
	<td>760</td>
	<td class='yvalues'>Median PGA (g)</td>
	<td class='yvalues'>0.283</td>
	<td class='yvalues'>0.283</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td>CauzziFaccioli2008</td>
	<td>PGA</td>
	<td>magnitude:</td>
	<td>5</td>
	<td>distance:</td>
	<td></td>
	<td>vs30:</td>
	<td>760</td>
	<td class='yvalues'>Median PGA (g)</td>
	<td class='yvalues'>0.21</td>
	<td class='yvalues'>0.291</td>
	<td class='yvalues'>&hellip;</td>
</tr>
</table>


<h2 id="residualanalysis">Residual analysis</h2>
<p>
eGSIM, through the GMPE-SMTK library, offers the ability to compare observed ground motions with
the GMPE model predictions using the GMPE implementations found inside OpenQuake.
This is a particularly powerful tool as it permits, possibly for the first time, a
hazard modeller to undertake the GMPE comparison using the exact same GMPE implementation
found inside the seismic hazard software. There are several types of Residual plots:
</p>

<table class='nopagebreak'>
<thead>
<tr>
	<td>Plot type</td>
	<td>x values (generated from the GMDB):</td>
	<td>Number of generated plots <i>per</i> IMT and <i>per</i> Gsim:</td>
</thead>
<tbody>
<tr><td>Residuals density distribution</td><td>Frequency of residuals vs equally spaced IMT bins</td></tr>
<tr><td>Residuals vs. Magnitude</td><td>Scatter plot of magnitudes residuals vs </td><td>see above</td></tr>
<tr><td>Residuals vs. Distance</td><td>distances</td><td>see above</td></tr>
<tr><td>Residuals vs. Vs<sub>30</sub></td><td>Vs<sub>30</sub></td><td>see above</td></tr>
<tr><td>Residuals vs. Depth</td><td>depth</td><td>see above</td></tr>
<tr><td>Likelihood</td><td>likelihood of currently selected IMT</td><td>see above</td></tr>
</tbody>
</table>



<h3>Request</h3>
<p>
A request to the Residuals plot service requires a list of GMPEs and IMTs, a Ground Motion
database (GMDB) and the the desired plot type. As discussed, parameters can be given in the endpoint
URL (GET method) or as separate text data in JSON or YAML format (POST method) and are:
</p>

{{ form_residuals | safe }}

<h3>Response</h3>
<p>
The number of generated Residuals plots will be three times the product of the requested Intensity
measure types (parameter {{ param.imt }}) and the requested GMPEs (parameter {{ param.gsim }}, where
three is the number of residual types per plot, which are "Intra Event", "Inter Event" and "Total". For
decomposition of Intra-event residuals, the plots are still three but all labelled as 'IntraEvent'
(what changes will be the y label and the data).
</p>

<h4>JSON</h4>
<p>
Residuals plot data returned in JSON format will have the following structure (the text after the
character <code>#</code> denotes comments which are meant to be explanatory for the reader: as
JSON does not support comments they are not part of the response's text file):
</p>
<pre><code class="language-python">{
	"AkkarBommer2010": [  # list of GMPE residual plots
		{
			"imt": "PGA",  # this plot's Intensity measure type. Note that
						 # the IMT can be displayed on the x axis
						 # (e.g. Likelihood plot type) or y axis
						 # (e.g., ResidualsVsMagnitude)
			"restype": "IntraEvent",  # it is one of "InterEvent",
									  # "IntraEvent" and "Total".
									  # For Decomposition of Intra-event
									  # residuals, this value is always
									  # 'IntraEvent'
			"xvalues": [4, 4, 3.9, ...],
			"xlabel": "Magnitude",
			"yvalues": [-2.11, -2.27, -2.08, ...],
			"ylabel": "Z (PGA)",
			"slope": 0.269,       # These are optional properties which
			"intercept": -1.998,  # will depend on the plot type. See
			"pvalue": 6.6e-8      # document for details
		},
		...
	],
	"CauzziFaccioli2008": [
		...
	],
	...
}</code></pre>


<h4>CSV</h4>
<p>
Residuals plot data returned in CSV format will have the following structure (represented as
csv table).
<br>
<span class='xvalues'></span> = x values (first cell is the x label), 
<span class='yvalues'></span> = y values (first cell is the y label)
</p>

<h5>Vertical display &varr; :</h5>

<table class='csv'>
<tr>
	<td>AkkarBommer2010</td>
	<td>&nbsp;</td>
	<td>AkkarBommer2010</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>AkkarBommer2010</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>CauzziFaccioli2008</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>PGA</td>
	<td>&nbsp;</td>
	<td>PGA</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>PGV</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>PGA</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>slope:</td>
	<td>0.269</td>
	<td>slope:</td>
	<td>0.103</td>
	<td>&hellip;</td>
	<td>slope:</td>
	<td>0.171</td>
	<td>&hellip;</td>
	<td>slope:</td>
	<td>0.28</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>intercept:</td>
	<td>-1.998</td>
	<td>intercept:</td>
	<td>-1.281</td>
	<td>&hellip;</td>
	<td>intercept:</td>
	<td>-2.12</td>
	<td>&hellip;</td>
	<td>intercept:</td>
	<td>-2.281</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>pvalue:</td>	
	<td>6.6e-8</td>
	<td>pvalue:</td>	
	<td>0.163</td>
	<td>&hellip;</td>
	<td>pvalue:</td>	
	<td>0.002</td>
	<td>&hellip;</td>
	<td>pvalue:</td>	
	<td>1.21e-8</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>Intra Event</td>
	<td>&nbsp;</td>
	<td>Inter Event</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>Intra Event</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
	<td>Intra Event</td>
	<td>&nbsp;</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>Magnitude</td>
	<td class='yvalues'>Z (PGA)</td>	
	<td class='xvalues'>Magnitude</td>
	<td class='yvalues'>Z (PGA)</td>	
	<td>&hellip;</td>	
	<td class='xvalues'>Magnitude</td>
	<td class='yvalues'>Z (PGV)</td>	
	<td>&hellip;</td>
	<td class='xvalues'>Magnitude</td>
	<td class='yvalues'>Z (PGA)</td>	
	<td>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>4</td>
	<td class='yvalues'>-2.11</td>	
	<td class='xvalues'>4</td>
	<td class='yvalues'>-1.832</td>	
	<td>&hellip;</td>
	<td class='xvalues'>4</td>
	<td class='yvalues'>-0.17</td>	
	<td>&hellip;</td>
	<td class='xvalues'>4</td>
	<td class='yvalues'>-1.116</td>	
	<td>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>4</td>
	<td class='yvalues'>-2.27</td>	
	<td class='xvalues'>4</td>
	<td class='yvalues'>-1.913</td>	
	<td>&hellip;</td>
	<td class='xvalues'>4</td>
	<td class='yvalues'>-1.11</td>	
	<td>&hellip;</td>
	<td class='xvalues'>4</td>
	<td class='yvalues'>-2.815</td>	
	<td>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>3.9</td>
	<td class='yvalues'>-2.08</td>	
	<td class='xvalues'>3.9</td>
	<td class='yvalues'>-1.85</td>	
	<td>&hellip;</td>
	<td class='xvalues'>3.9</td>
	<td class='yvalues'>-0.871</td>	
	<td>&hellip;</td>
	<td class='xvalues'>3.9</td>
	<td class='yvalues'>-2.11</td>	
	<td>&hellip;</td>
</tr>
<tr>
	<td class='xvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td class='xvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td>&hellip;</td>
	<td class='xvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td>&hellip;</td>
	<td class='xvalues'>&hellip;</td>
	<td class='yvalues'>&hellip;</td>
	<td>&hellip;</td>
</tr>
</table>

<h5>Horizontal display &harr; :</h5>

<table class='csv'>
<tr>
	<td>AkkarBommer2010</td>
	<td>PGA</td>
	<td>slope:</td>
	<td>0.269</td>
	<td>intercept:</td>
	<td>-1.998</td>
	<td>pvalue:</td>
	<td>6.6e-8</td>
	<td>Intra Event</td>
	<td class='xvalues'>Magnitude</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>3.9</td>
	<td class='xvalues'>&hellip;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class='yvalues'>Z (PGA)</td>
	<td class='yvalues'>-2.11</td>
	<td class='yvalues'>-2.27</td>
	<td class='yvalues'>-2.08</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td>AkkarBommer2010</td>
	<td>PGA</td>
	<td>slope:</td>
	<td>0.103</td>
	<td>intercept:</td>
	<td>-1.281</td>
	<td>pvalue:</td>
	<td>0.163</td>
	<td>Inter Event</td>
	<td class='xvalues'>Magnitude</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>3.9</td>
	<td class='xvalues'>&hellip;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class='yvalues'>Z (PGA)</td>
	<td class='yvalues'>-1.832</td>
	<td class='yvalues'>-1.913</td>
	<td class='yvalues'>-1.85</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>AkkarBommer2010</td>
	<td>PGV</td>
	<td>slope:</td>
	<td>0.171</td>
	<td>intercept:</td>
	<td>-2.12</td>
	<td>pvalue:</td>
	<td>0.002</td>
	<td>Intra Event</td>
	<td class='xvalues'>Magnitude</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>3.9</td>
	<td class='xvalues'>&hellip;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class='yvalues'>Z (PGV)</td>
	<td class='yvalues'>-0.17</td>
	<td class='yvalues'>-1.11</td>
	<td class='yvalues'>-0.871</td>
	<td class='yvalues'>&hellip;</td>
</tr>
<tr>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
	<td>&hellip;</td>
</tr>
<tr>
	<td>CauzziFaccioli2008</td>
	<td>PGA</td>
	<td>slope:</td>
	<td>0.28</td>
	<td>intercept:</td>
	<td>-2.281</td>
	<td>pvalue:</td>
	<td>1.21e-8</td>
	<td>Intra Event</td>
	<td class='xvalues'>Magnitude</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>4</td>
	<td class='xvalues'>3.9</td>
	<td class='xvalues'>&hellip;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class='yvalues'>Z (PGA)</td>
	<td class='yvalues'>-1.116</td>
	<td class='yvalues'>-2.815</td>
	<td class='yvalues'>-2.11</td>
	<td class='yvalues'>&hellip;</td>
</tr>
</table>




<h2 id="testing">Testing</h2>
<p>

</p>

</div>	
</div>
</div>
{% endblock %}

{% block after-body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/data-uri-highlight/prism-data-uri-highlight.min.js"></script>

<script type='text/javascript'>
/**
 * Sets up headings (h2 and h3) numbering and the corresponding
 * items in the div#toc
 */
function setupH(h, secIndex, subsecIndex){
    var id = h.getAttribute('id');
    if (!id){
        var id_ = id = h.innerText.replace(/ /g, '').toLowerCase();
  		var counter = 2;
        while (document.getElementById(id)){
            id = id_ + counter;
        }
        h.setAttribute('id', id);
    }
    h.setAttribute('name', id);
    var strNumber = `${secIndex}`;
    if (subsecIndex){
    	strNumber += `.${subsecIndex}`;
    }
    var text = h.innerHTML;
	var newText = `${secIndex}.${subsecIndex ? subsecIndex : ''} ${text} <a style='display:none' class="headerlink" href="#${id}" title="Permalink to this headline">&#182;</a>`;
	h.innerHTML = newText;
	// add mouseenter mouseleave. Note mouseout! see here:
	// https://javascript.info/mousemove-mouseover-mouseout-mouseenter-mouseleave#extra-mouseout-when-leaving-for-a-child
	h.onmouseenter = mouseevent => {
	    var target = mouseevent.target;
	    target.children[target.childElementCount-1].style.display = '';
	};
	h.onmouseleave = mouseevent => {
	    var target = mouseevent.target;
	    target.children[target.childElementCount-1].style.display = 'none';
	};
	return `${secIndex}.${subsecIndex ? subsecIndex : ''} ${text}`;
}
var [secIndex, subsecIndex] = [0, 0];
var tocItemsHTML = [];
document.querySelectorAll('h2, h3').forEach((elm, index) => {
    var tag = elm.tagName.toLowerCase();
    if (tag == 'h2'){
        secIndex ++;
        subsecIndex = 0;
    }else{
        subsecIndex ++;
    }
    var text = setupH(elm, secIndex, subsecIndex);
    tocItemsHTML.push(`${subsecIndex ? '&nbsp;'.repeat(4) : ''} <a href="#${elm.getAttribute('id')}">${text}</a>`); 
});
document.querySelector('#toc').innerHTML = `<div>${tocItemsHTML.join('</div><div>')}</div>`;

</script>

{% endblock %}
