{% extends 'base.html' %}

{% block head %}
	{% with fontawesome=False leaflet=False plotly=False vue=False %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block extra-head %}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/apidoc.css' %}">
{% endblock %}

{% block body %}
<div class='flexible d-flex flex-row'>
	<div id='toc' class='shadow px-2 pt-3' style='overflow:auto'></div>
		<div class='flexible text-justify px-5 pt-3'>
		<div class='content'>
		
		
			<h1>eGSIM API</h1>
			{% if last_modified %}
			<p style='font-size:50%;text-align:right;'>Last modified: {{ last_modified }}</p>
			{% endif %}
			<p>
			eGSIM is a web service for selecting and testing Ground
			Shaking Intensity Models (GSIM) in Europe on top of  
			<a target="_blank" href="https://github.com/GEMScienceTools/gmpe-smtk#gmpe-smtk">GMPE-SMTK</a>,
			a Python and
			<a target="_blank" href="https://github.com/gem/oq-engine/#openquake-engine">OpenQuake</a>-based
			toolkit for analysis of strong Motions and interpretation of Ground Motion Prediciton Equations (GMPE).
			As server-side web application programming interface (API), the goal
			of eGSIM is to provide most of the toolkit functionalities via 
			several publicly exposed endpoints (URLs) to a defined and easy to use request–response message
			system.
			</p>
			
			<p class='footnote'>Note: throughout this document, for simplicity
			the terms GSIM and GMPE are used interchangeably</p>
			
			
			<h2 id="generalfeatures">General features</h2>
			{% include "apidoc_sections/intro.html" %}
			
			
			<h2 id="gsimselection">Gsim selection</h2>
			{% include "apidoc_sections/gsims.html" %}
			
			
			<h2 id="trellisplots">Trellis plots</h2>
			{% include "apidoc_sections/trellis.html" %}
			
			
			<h2 id="residualanalysis">Residual analysis</h2>
			{% include "apidoc_sections/residuals.html" %}
		
		
			<h2 id="testing">Testing</h2>
			{% include "apidoc_sections/testing.html" %}
		
		
		</div>	
	</div>
</div>
{% endblock %}

{% block after-body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/data-uri-highlight/prism-data-uri-highlight.min.js"></script>

<script type='text/javascript'>
/** creates TOC. Gets all H2, H3, H4 with id assigned and creates the hyperlink next to them, plus adds the item to the TOC **/
var tocItemsHTML = [];
document.querySelectorAll('h2, h3, h4').forEach((elm, index) => {
    var id = elm.getAttribute('id');
    if (id){
        var text = elm.innerText;
        var newText = `${text} <a style='display:none' class="headerlink" href="#${id}" title="Permalink to this headline">&#182;</a>`;
    	elm.innerHTML = newText;
    	// add mouseenter mouseleave. Note mouseout! see here:
    	// https://javascript.info/mousemove-mouseover-mouseout-mouseenter-mouseleave#extra-mouseout-when-leaving-for-a-child
    	elm.onmouseenter = mouseevent => {
    	    var target = mouseevent.target;
    	    target.children[target.childElementCount-1].style.display = '';
    	};
    	elm.onmouseleave = mouseevent => {
    	    var target = mouseevent.target;
    	    target.children[target.childElementCount-1].style.display = 'none';
    	};
    	tocItemsHTML.push(`<a class='d-block rounded py-1 menu-item _${elm.tagName.toLowerCase()}' href="#${id}">${text}</a>`);
    }
});
document.querySelector('#toc').innerHTML = `${tocItemsHTML.join('\n')}`;
/* now make all external anchor tags open in a new frame */
document.querySelectorAll("a").forEach(elm => {
    if ((elm.getAttribute('href') || '').startsWith('http')){
        elm.setAttribute("target", "_blank");
    }
});
//listen for page scroll changes (https://stackoverflow.com/a/30723677):
/* document.addEventListener('scroll', function(e){
    
}, true); */
</script>

{% endblock %}
