{% extends 'base.html' %}

{% block head %}
	{{ block.super }}
	<!-- includes css for form-related stuff (e.g. waitbar)  -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_with_form.css' %}">
	
{% endblock %}

{% block body %}
	<div class='flexible flex-direction-row' id='egsim'>
			
		<div class='flexible flexible-half flex-direction-col p-3' id='input-container'> <!-- p-3: padding=1rem -->
			<form id='egsim-form' name='egsim-form' novalidate v-on:submit.prevent='submitForm' class='flexible flex-direction-col'>
			<div>
				{% block form-top %}
				{% endblock %}
			</div>
			<div class='flexible flex-direction-row'>			
				<div id='inputsel' class="flexible flex-direction-col">
	
					<div>{{ form.gsim.label }}</div>
					<div class='flexible flex-direction-col' style='overflow:auto'>
						<!-- GSIM FORM CONTROL: -->
						<select v-model="selectedGsims" multiple required class="form-control flexible"
							name="{{ form.gsim.html_name }}">
							<option v-for="gsim in gsims" v-show="isGsimVisible(gsim)">
								&#123;&#123; gsim &#125;&#125;
							</option>
						</select>
					</div>
	
					<div class="input-group mb-3">
						<div class="input-group-prepend">
	    					<button v-on:click="showTypeDropdown" class="btn btn-outline-secondary dropdown-toggle" type="button"
	    						data-toggle="dropdown"
	    						aria-haspopup="true" aria-expanded="false">Filter by &#123;&#123; filterType &#125;&#125; </button>
	    					<div v-show="typeDropdownVisible" class="dropdown-menu shadow" 
	    						style='display:initial'>  <!-- need to set display:initial to work with Vue -->
	      						<a v-for="item in filterTypes" v-on:click="filterType=item"
	      							class="dropdown-item" href="#">
	    							&#123;&#123; item &#125;&#125;
								</a>
	    					</div>
	  					</div>
	  					<input v-on:focus="showGsimsDropdown" v-model="filterText" type="text" class="form-control"
	  						aria-label="Text input with dropdown button">
					</div>
		
					<div>{{ form.imt.label }}</div>
					<!-- IMT FORM CONTROL: -->
					<div>
						<div v-for='imt in imts'>
							<label>
								<input type='checkbox' v-on:change="toggleImtSelection(imt)"> <span v-bind:disabled="!isImtSelectable(imt)">&#123;&#123; imt &#125;&#125;</span> 
							</label>
							<input type='text' v-model="saPeriods" name='sa_periods' v-bind:disabled="!isImtSelectable(imt)"
								v-bind:placeholder="isImtSelectable(imt) ? 'period/s' : ''"
								v-if='imt=="SA"'class="form-control" >
						</div>
					</div>
					<!-- this select is just for form submission, its content is built from the checkbox above: -->
					<select multiple size=8 class="form-control" id="selectable_imts"
						name="{{ form.imt.html_name }}" required>
						<option v-for='imt in selectedImts' selected>
							&#123;&#123; imt &#125;&#125;
						</option>
					</select>
	
				</div>
				{% block form-extra-divs %}{% endblock %}
			</div>
			<div>
			{% block form-submit-div %}{% endblock %}
			<!-- <input class='form-control' type='submit' value='Ok'/> -->
			</div>
			
			</form>
		</div>
		<div class='flexible flexible-half p-3' id='result-container'>
			<div id='waitbar' v-show='loading' class='flexible flex-center'>
				Loading, please wait ...
				<div class="loader"></div>
			</div>
			<div id='error' v-show='hasError' class='flexible flex-center'>
				<div v-for="(errMsg, fieldName) in errors"> <!-- reversed value, key ??? -->
					&#123;&#123; fieldName &#125;&#125; : &#123;&#123; errMsg &#125;&#125; 
				</div>
			</div>
			<div class='flexible' v-show='!hasError && !loading' id='result'>
			{% block result-content %}{% endblock %}
			</div>	
		</div>
	</div>
{% endblock %}

{% block after-body %}
	{{ block.super }}
	<script type='text/javascript' src = "{% static 'js/egsim_main.js' %}"></script>
{% endblock %}
