<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class='height100'>
<head>
	<meta charset="UTF-8">
	<title>{{ project_name }}</title>

	{% block head %}
	
	<!--  ubuntu mono (replace with other font, monospace should be better) -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu Mono"> -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

	<!--  -->
	<!-- BOOTSTRAP for safety, it must be loaded before all posibble plugins -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- egsim base css:  -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

	{% if leaflet or shapefile %}
	<!-- LEAFLET (http://leafletjs.com/download.html) -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"
		integrity="sha512-C7BBF9irt5R7hqbUm2uxtODlUVs+IsNu2UULGuZN7gM+k/mmeG4xvIEac01BtQa4YIkUpp23zZC4wIwuXaPMQA=="
		crossorigin=""></script>

	<!-- ESRI PLUGINS http://esri.github.io/esri-leaflet/examples/ -->
	<script type="text/javascript" src="https://unpkg.com/esri-leaflet@2.1.2/dist/esri-leaflet.js"></script>
	{% endif %}

	{% if fontawesome %}
	<!-- font awesome (e.g. required by easybutton & sidebar) FIXME: CHECK LICENSE (MIT) -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% endif %}

	<!-- <link href="https://bootswatch.com/4/yeti/bootstrap.min.css" rel="stylesheet"> -->
			
			
	<!-- material design for bootsrap (css only) COMMENT IF NOT NEEDED -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
		integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->
			
	<!-- bootstrap js temporarily added. It requires jQuery. Maybe in the future remove both -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	 -->

	{% if shapefile %}
	<!-- Leaflet shapefile plugin - see: https://github.com/calvinmetcalf/leaflet.shapefile -->
	<script type="text/javascript" src="https://cdn.rawgit.com/calvinmetcalf/leaflet.shapefile/gh-pages/shp.js"></script>
	{% endif %}

	{% if plotly %}
	
	 <!-- plotly: https://github.com/plotly/plotly.js/blob/master/dist/README.md -->
		{% if debug %}
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-cartesian-1.38.3.js"></script>
		{% else %}
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-cartesian-1.38.3.min.js"></script> <!-- plotly: https://github.com/plotly/plotly.js/blob/master/dist/README.md -->
		{% endif %}
	{% endif %}

	<!--  THESE ARE FALLBACKS, COMMENT OUT IF YOU WORK OFFLINE -->
	<script type='text/javascript'>
	if (!navigator.onLine){
		document.write("<script type='text/javascript' src='/static/fallbacks/vue.2.5.16.js'><\/script>");
		document.write("<script type='text/javascript' src='/static/fallbacks/axios.0.18.0.min.js'><\/script>");
		document.write("<link rel='stylesheet' type='text/css' href='/static/fallbacks/bootstrap.4.0.0.min.css'/>");

		{% if fontawesome %}
		document.write("<link rel='stylesheet' type='text/css' href='/static/fallbacks/font-awesome.4.7.0.css'/>");
		{% endif %}
		
		{% if leaflet %}
		document.write("<script type='text/javascript' src='/static/fallbacks/leaflet.1.3.0.js'><\/script>");
		document.write("<link rel='stylesheet' type='text/css' href='/static/fallbacks/leaflet.1.3.0.css'/>");
		document.write("<script type='text/javascript' src='/static/fallbacks/esri-leaflet.2.1.2.js'><\/script>");
		{% endif %}
		
		{% if shapefile %}
		document.write("<script type='text/javascript' src='/static/fallbacks/shp.js'><\/script>");
		{% endif %}
		
		{% if plotly %}
		document.write("<script type='text/javascript' src='/static/fallbacks/plotly-cartesian-1.38.3.js'><\/script>");
		//document.write("<script type='text/javascript' src='/static/fallbacks/plotly.1.33.1.js'><\/script>");
		{% endif %}
		
	}
	</script>
	{% endblock %}

	{% block extra-head %}
	<script type='text/javascript'>
	function configTabs(data){
	    // configs tabs to be clicked and visualize their content.
	    // data is an Array of 2-element tuples (tab-id, div-id), where tab is the id of the
	    // tab element (usually anchor)
	    // which, when clicked, sets visible the element whose id is div-id (usually div)
	    // and hides the others
	    // this method sets also the first tuple passed in data as the default visible/selected element
		var doc = document;
	    // define function when a tab is clicked
	    function tabClicked(tabId){
	        data.forEach(function(item){
	            [_tabId, _divId] = item;
		        var tabElm = doc.getElementById(_tabId);
		        var divElm = doc.getElementById(_divId);
		        var visible = tabId === _tabId;
		        if (visible){
		            tabElm.classList.add("active");
		            divElm.classList.remove("tab-deactivated");
			        divElm.classList.add("tab-activated");
		        }else{
		            tabElm.classList.remove("active");
		            divElm.classList.add("tab-deactivated");
			        divElm.classList.remove("tab-activated");
		        }
	    	});
	    }
	    // set onlick on each tab:
	    data.forEach(function(item){
			[tabId, divId] = item;
			doc.getElementById(tabId).addEventListener('click', function(mouseEvent) { 
			    tabClicked(mouseEvent.target.id);
			    return false;  // prevent # appearing in browser's url tab
	        });
		});
	    // select the first tab:
	    tabClicked(data[0][0]);   
	}
	</script>
	{% endblock %}
</head>

<body class='height100 flex-direction-col bg-light'>
{% block body %}{% endblock %}
<!-- https://docs.djangoproject.com/en/2.0/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-true -->
{% csrf_token %}
</body>
{% block after-body %}{% endblock %}
</html>
