<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class='height100'>
<head>
	<meta charset="UTF-8">
	<title>{{ project_name }}</title>

	{% block head %}
	
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png"/>

	<!--  Google font:, also related:  -->
	<!--  Encode+Sans|Encode+Sans+Condensed|Encode+Sans+Semi+Condensed|Montserrat|Open+Sans+Condensed:300|Cabin+Condensed| -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Encode+Sans+Semi+Condensed" rel="stylesheet">

	{% if vue %}
		{% if debug %}
		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		{% else %}
		<!-- production version, optimized for size and speed -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		{% endif %}
	{% endif %}
	
	{% if axios %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
	{% endif %}

	<!-- BOOTSTRAP for safety, it must be loaded before all possible plugins -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">

	{% if leaflet %}
	<!-- LEAFLET -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   		  crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
 	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   		  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>

	{% endif %}

	{% if fontawesome %}
	<!-- font awesome (e.g. required by easybutton & sidebar) FIXME: CHECK LICENSE (MIT) -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet"> -->
	{% endif %}		
			
	<!-- material design for bootsrap (css only) COMMENT IF NOT NEEDED -->
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
		integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->

	{% if plotly %}
	 	<!-- plotly: https://github.com/plotly/plotly.js/blob/master/dist/README.md
	 	(the fallback local script is downloaded below)
	 	-->
		{% if debug %}
			<script type="text/javascript" src="https://cdn.plot.ly/plotly-cartesian-2.8.3.js"></script>
		{% else %}
			<script type="text/javascript" src="https://cdn.plot.ly/plotly-cartesian-2.8.3.min.js"></script> <!-- plotly: https://github.com/plotly/plotly.js/blob/master/dist/README.md -->
		{% endif %}
	{% endif %}

	<!--  THESE ARE FALLBACKS, COMMENT OUT IF YOU WORK OFFLINE -->
	<script type='text/javascript'>
	{% if debug %}
	if (!navigator.onLine){
	    {% if vue %}
		document.write("<script type='text/javascript' src='/static/fallbacks/vue.2.5.16.js'><\/script>");
		{% endif %}

		{% if axios %}
		document.write("<script type='text/javascript' src='/static/fallbacks/axios.0.18.0.min.js'><\/script>");
		{% endif %}

		document.write("<link rel='stylesheet' type='text/css' href='/static/fallbacks/bootstrap.4.1.3.min.css'/>");

		{% if fontawesome %}
		document.write("<link rel='stylesheet' type='text/css' href='/static/fallbacks/font-awesome.4.7.0.css'/>");
		{% endif %}
		
		{% if leaflet %}
		document.write("<script type='text/javascript' src='/static/fallbacks/leaflet.1.3.0.js'><\/script>");
		document.write("<link rel='stylesheet' type='text/css' href='/static/fallbacks/leaflet.1.3.0.css'/>");
		{% endif %}
		
		{% if plotly %}
		document.write("<script type='text/javascript' src='/static/fallbacks/plotly-cartesian-1.49.1.js'><\/script>");
		{% endif %}
	}
	{% endif %}
	</script>

	<!-- egsim base css. Load at the real end:  -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	
	{% endblock %}

	{% block extra-head %}
	{% endblock %}
</head>

<body class='height100 d-flex flex-column bg-light'>
{% block body %}{% endblock %}
<!-- https://docs.djangoproject.com/en/2.0/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-true -->
{% csrf_token %}
</body>
{% block after-body %}{% endblock %}
</html>
