{% extends 'base.html' %}

{% block head %}
{% with vue=True plotly=True leaflet=True fontawesome=True %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block end-of-head %}
<style>
	@media (max-width: 975px){  /* narrow  screen (< 975px) */
		nav > .menu-item span { display: none !important; } /* hide menu texts */
	}
	/* waitbar. For info see: https://www.pexels.com/blog/css-only-loaders/ */
	.loader, .loader:before { height: 10px; }
	.loader {
		width: 100%;
		position: relative;
		overflow: hidden;
		background-color: #999;
	}
	.loader:before{
		display: block;
		position: absolute;
		content: "";
		left: -200px;
		width: 200px;
		background-color: #ffc107; /*#a2cd7e;*/
		animation: loading 2s linear infinite;
	}
	@keyframes loading {
		from {left: -200px; width: 30%;}
		50% {width: 30%;}
		70% {width: 70%;}
		80% { left: 50%;}
		95% {left: 120%;}
		to {left: 100%;}
	}
</style>
{% endblock %}


{% block body %}
<div class="d-flex flex-column bg-body" id='egsim-vue' style="height: 100vh;">
	<template v-if="showNavBar">
	{% include "navbar.html" %}
	</template>
	<!-- FIXME REMOVE BELOW -->
<!--	<button type='button' onclick="fetch('test_request').then(r => r.json()).then(d => { console.log(d); })">Test request</button>-->
	<template v-if="currentPage==pages.predictions">
	{% include "trellis.html" %}
	</template>
	<template v-else-if="currentPage==pages.flatfile_meta_info">
	{% include "flatfile_meta_info.html" %}
	</template>
	<template v-else-if="currentPage==pages.flatfile_visualization">
	{% include "flatfile_visualization.html" %}
	</template>
	<template v-else-if="currentPage==pages.residuals">
	{% include "residuals.html" %}
	</template>
	<template v-else-if="currentPage==pages.ref_and_license">
	{% include "ref_and_license.html" %}
	</template>
	<template v-else-if="currentPage==pages.imprint">
	{% include "imprint.html" %}
	</template>
	<template v-else>
	{% include "home.html" %}
	</template>
</div>
{% endblock %}


{% block end-of-body %}

{% with bootstrap_js=True %}
{{ block.super }}
{% endwith %}

<script type='text/javascript'>
const origFetch = window.fetch;
window.fetch = function() {
	var args = Array.from(arguments);
	if (args.length == 1){
		args.push({});
	}
	var options = args[1];
	if (!options.headers){
		options.headers = {};
	}
	options.headers["X-CSRFToken"] = "{{ csrf_token }}";

	// setup the load bar <div>
	var bar = document.getElementById('loadbar');
	bar.style.display = '';

	return new Promise((resolve, reject) => {  // https://stackoverflow.com/a/53448336
		origFetch.apply(this, args).then((response) => {
			if (!response.ok){
				// status code 4xx or 5xx: show msg and then treat it like an error (fetch doesn't by default)
				response.clone().json().then(data => showFetchError(data.message));
				reject(response);
			}else{
				resolve(response);
			}
		}).catch((error) => {
			// some network error (Note: NOT 4xx or 5xx responses!)
			showFetchError("" + error);
			reject(error);
		}).finally(() => {
			bar.style.display = 'none';
		});
	});
}

function showFetchError(msg){
	let div = document.body;
	let alert = document.createElement('div');
	alert.innerHTML = `{% include "alert-dialog.html" with content="${msg}" %}`;
	div.appendChild(alert);
}
</script>

<!-- VUE.JS: -->
<!--<script type='text/javascript' src = "{% static 'js/egsim.js' %}"></script>-->

{{ init_data | json_script:"init-data" }}

<script type="text/javascript">
const EGSIM = Vue.createApp({
	watch:{
		currentPage:{
			immediate: true,
			handler(newVal, oldVal){
				this.showNavBar = newVal != this.pages.home;
				this.setUrlInBrowser(newVal)
			}
		}
	},
	data(){
		const data = JSON.parse(document.getElementById('init-data').textContent);
		// converts the gsims received from server from an Array of Arrays to an
		// Array of Objects:
		var imts = new Set();
		data.imt_groups.forEach(imtz => imtz.forEach(i => imts.add(i)));
		var models = data.gsims.map(elm => {  // elm: Array of 2 or 3 elements: name, imt_group, warning
			return {
				name: elm[0],
				imts: new Set(data.imt_groups[elm[1]]),
				warning: elm[2] ? data.warning_groups[elm[2]]: "",
			}
		});
		var currentPage = data.currentPage || 'home';  // one of the key of the Objet 'tab' below
		return {
			models: Object.freeze(models),
			imts: Array.from(imts),
			forms: data.forms,
			urls: data.urls,
			regionalizations: data.regionalizations,
			flatfiles: data.flatfiles,
			showNavBar: true,
			pages: data.pages,  // dict of key -> page URL (relative to the base URL of the site)
			currentPage: currentPage,
			responses: data.responses
		}
	},
	methods: {
		setUrlInBrowser(menu){
			var location = window.location;
			if (!location.pathname.startsWith(`/${menu}`)){
				var newHref = `${location.origin}/${menu}`
				// https://developer.mozilla.org/en-US/docs/Web/API/History_API
				window.history.replaceState({}, document.title, newHref);
			}
			return false; // in case accessed from within anchors
		},
		postData(url, data){
			/*
			post data in JSON or multipart format depending on `data`, return fetch Promise
			(the response data format depends on the url, see server side code)
			*/
			// infer request data content type:
			var contentType = "application/json";
			var hasFiles = Object.keys(data).some(elm => data[elm] instanceof File);
			if (hasFiles){
				var contentType = 'multipart/form-data';
				requestBody = new FormData();
				for (var name of Object.keys(data)){
					// https://stackoverflow.com/a/63340869:
					// in form-data content, null will be converted to "null". Either replace
					// (but how to get a default?) or simply remove:
					var val = data[name];
					if ((val !== null) && (val !== undefined)){
						requestBody.append(name, val);
					}
				}
			}else{
				var contentType = "application/json";
				requestBody = JSON.stringify(data);
			}

			// Default options are marked with *
			return fetch(url, {
				method: "POST", // *GET, POST, PUT, DELETE, etc.
				mode: "cors", // no-cors, *cors, same-origin
				cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
				credentials: "same-origin", // include, *same-origin, omit
				headers: {
					"Content-Type": contentType,
					// 'Content-Type': 'application/x-www-form-urlencoded',
				},
				redirect: "follow", // manual, *follow, error
				referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
				body: requestBody, // body data type must match "Content-Type" header
			})
		},
		downloadResult(url, data, fileName){
			if (data.format){
				fileName += `.${data.format}`;
			}
			this.postData(url, data).then( resp => {
				// in case you want to get headers:
				// var contentDisp = resp.headers.get('content-disposition');
				resp.blob().then(blob => {
					var url = window.URL.createObjectURL(blob);
					// this might work but it sets a cryptic download filename:
					// window.location.assign(file);
					// So, incredibly, there is no cleaner solution than (https://stackoverflow.com/a/42274086):
					var a = document.createElement('a');
					a.href = url;
					a.download = fileName;
					document.body.appendChild(a); // needed in firefox
					a.click();
					a.remove();
				});
			});
		}
	}
});

</script>
<!-- Components and dependencies of the EGISM app: -->
<script type='text/javascript' src="{% static 'js/vue/components.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vue/plots-div.js' %}"></script>
<script>
/* mount the Vue App EGSIM. The function below returns an App instance (not used for the moment): */
EGSIM.mount('#egsim-vue');
</script>

{% endblock end-of-body %}
