{% extends 'base.html' %}

{% block head %}

{% with vue=True plotly=True leaflet=True fontawesome=True %}
{{ block.super }}
{% endwith %}

<style>
	@media (max-width: 975px){  /* narrow  screen (< 975px) */
		nav > .menu-item span { display: none !important; } /* hide menu texts */
	}
	/* waitbar. For info see: https://www.pexels.com/blog/css-only-loaders/ */
	.loader, .loader:before { height: 10px; }
	.loader {
		width: 100%;
		position: relative;
		overflow: hidden;
		background-color: #999;
	}
	.loader:before{
		display: block;
		position: absolute;
		content: "";
		left: -200px;
		width: 200px;
		background-color: #ffc107; /*#a2cd7e;*/
		animation: loading 2s linear infinite;
	}
	@keyframes loading {
		from {left: -200px; width: 30%;}
		50% {width: 30%;}
		70% {width: 70%;}
		80% { left: 50%;}
		95% {left: 120%;}
		to {left: 100%;}
	}
</style>

{% endblock %}


{% block body %}
<div class="d-flex flex-column bg-body" id='egsim-vue' style="height: 100vh;">
	<template v-if="[1, 21, 22, 3].includes(selectedTab)">
	{% include "navbar.html" %}
	</template>
	<keep-alive>
	<template v-if="selectedTab==1">
	{% include "trellis.html" %}
	</template>
	<template v-else-if="selectedTab==21">
	{% include "flatfile_compilation.html" %}
	</template>
	<template v-else-if="selectedTab==22">
	{% include "flatfile_inspection.html" %}
	</template>
	<template v-else-if="selectedTab==3">
	{% include "residuals.html" %}
	</template>
	<template v-else-if="selectedTab>=100 && selectedTab<1000">
	{% include "ref_and_license.html" %}
	</template>
	<template v-else-if="selectedTab>=1000">
	{% include "imprint.html" %}
	</template>
	<template v-else>
	{% include "home.html" %}
	</template>
	</keep-alive>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

{% endblock %}

{% block after-body %}

{{ block.super }}

<script>
// make window.fetch use the CSRF Token:
var _fetch = window.fetch;
window.fetch = function(resource, options){
	if (!options.headers){
		options.headers = {};
	}
	options.headers["X-CSRFToken"] = "{{ csrf_token }}";
	return _fetch(resource, options);
}
</script>

<!-- VUE.JS: -->
<!--<script type='text/javascript' src = "{% static 'js/egsim.js' %}"></script>-->

{{ init_data | json_script:"init-data" }}

<script type="text/javascript">
function getInitData(){
	const data = JSON.parse(document.getElementById('init-data').textContent);
	// converts the gsims received from server from an Array of Arrays to an
	// Array of Objects:
	var imts = new Set();
	data.imt_groups.forEach(imtz => imtz.forEach(i => imts.add(i)));
	var models = data.gsims.map(elm => {  // elm: Array of 2 or 3 elements: name, imt_group, warning
		return {
			name: elm[0],
			imts: new Set(data.imt_groups[elm[1]]),
			warning: elm[2] ? data.warning_groups[elm[2]]: "",
		}
	});
	return {
		models: Object.freeze(models),
		imts: Array.from(imts),
		forms: data.forms,
		urls: data.urls,
		regionalizations: data.regionalizations,
		flatfiles: data.flatfiles,
		selectedTab: data.selectedTab
	}
}
const EGSIM = Vue.createApp({
	data: getInitData
});

</script>
<!-- Components and dependencies of the EGISM app: -->
<script type='text/javascript' src="{% static 'js/vue/components.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vue/plots-div.js' %}"></script>
<script>
/* mount the Vue App EGSIM. The function below returns an App instance (not used for the moment): */
EGSIM.mount('#egsim-vue');
</script>
{% endblock %}
