{% extends 'base.html' %}

{% block head %}
	{% with vue=True plotly=True leaflet=True axios=True fontawesome=True %}
		{{ block.super }}
	{% endwith %}
	<!-- includes css for form-related stuff (e.g. waitbar)  -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/egsim.css' %}">
	<!-- for tooltips https://kazzkiq.github.io/balloon.css/ -->
	{% if debug %}
	<link rel='stylesheet' type='text/css' href='/static/fallbacks/balloon.1.0.3.css'/>
	{% else %}
	<link rel="stylesheet" type='text/css' href="https://unpkg.com/balloon-css/balloon.min.css">
	{% endif %}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column height100" id='egsim-vue'>

		<nav class="d-flex flex-row navbar-dark bg-dark" id='egsim-nav'>
				{% for component in components %}
                    {% if forloop.last %}
                        <div class='flexible'></div>
                    {% endif %}
					<a class='menu-item' :class="selComponent == '{{ component.0 }}' ? 'active' : ''"
							@click="setComponent('{{ component.0 }}')" title="{{ component.1 }}">
						<i class="fa {{ component.2 }}"></i> <span>{{ component.1 }}</span>
					</a>
				{% endfor %}
		</nav>

		<div class='flexible d-flex flex-column position-relative'>

			<div id='waitdiv' v-show='loading' class="position-absolute pos-t-0 pos-x-0" style='z-index:100'>
				<!-- Loading, please wait ... --> <!-- (<- text removed) -->
				<div class="loader"></div>
			</div>
	
			<div v-show='errormsg'
				class='d-flex flex-row bg-danger text-sm-center text-white text-truncate position-absolute pos-t-0 pos-x-0 align-items-baseline'
				style='z-index:10'>
				<div class='flexible ml-1' v-html='errormsg'>
				</div>
				<i class="fa fa-times mr-1" @click='clearErrors()'></i>
				<!--  <button type="button" v-on:click='clearErrors()' class="btn-danger mr-1"
					style='color:inherit' aria-label="Clear error messages">
                	<i class="fa fa-times"></i>
            	</button>-->
			</div>
			
			<div class='d-flex flexible position-relative' style='margin: 0.75rem; margin-top: 2rem !important;'> <!--  margin top is tuned according to the inner divs margin/padding (escpecially plotdivs). change it after visual inspection -->
				<transition name="fade" mode="out-in">
				<keep-alive>
					<!-- https://vuejs.org/v2/guide/components-dynamic-async.html#keep-alive-with-Dynamic-Components -->
					<component v-bind:is="selComponent"
						v-bind="selComponentProps"
						@gsim-selected='selectGsims'
						@movetoapidoc='moveToApidoc'></component>
				</keep-alive>
				</transition>
				{% block main %}{% endblock %}
			</div>

		</div>
	</div>

{% endblock %}

{% block after-body %}
	{{ block.super }}

	<script type='text/javascript' src = "{% static 'js/vueutil.js' %}"></script>

	<script type='text/javascript' src = "{% static 'js/v-components/base/gsimselect.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/base/imtselect.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/base/forminput.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/base/forminputlite.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/base/plotdiv.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/base/downloadselect.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/base/baseform.js' %}"></script>

	<script type='text/javascript' src = "{% static 'js/v-components/trellisplotdiv.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/gmdbplotdiv.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/residualsplotdiv.js' %}"></script>
	<script type='text/javascript' src = "{% static 'js/v-components/testingtable.js' %}"></script>
	{% for component in components %}
	<script type='text/javascript' src = "{% static 'js/v-components/' %}{{ component.0 }}.js"></script>
	{% endfor %}
	
	<script type='text/javascript' src = "{% static 'js/egsim_base.js' %}"></script>

	<script>
	// functions for checking the browser version:
	function _pInt(value){
	    return value===undefined || value === null || isNaN(parseInt(value)) ? undefined : parseInt(value);
	}
	function getBrowser() {  // https://stackoverflow.com/a/16938481
	    var ua=navigator.userAgent;
		var tem;
		var M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; 
	    if(/trident/i.test(M[1])){
	        tem=/\brv[ :]+(\d+)/g.exec(ua) || []; 
	        return {
	            name:'IE',
	            version: _pInt(tem[1])
	        };
	    }   
	    if(M[1]==='Chrome'){
	        tem=ua.match(/\bOPR|Edge\/(\d+)/)
	        if(tem!=null){
	            return {
	                name:'Opera',
	                version: _pInt(tem[1])
	            };
	        }
	    }   
	    M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
	    if((tem=ua.match(/version\/(\d+)/i))!=null){
	        M.splice(1,1,tem[1]);
	    }
	    return {
	      	name: M[0].toLowerCase(),
	    	version: _pInt(M[1])
	    };
	}
	function incompatibleBrowser(){
	    var testedBrowsers = [['Chrome', 49], ['Firefox', 45], ['Safari', 10]];
	    var testedBrowsersToString = testedBrowsers.map(elm => elm[0] + ` (v.&ge;${elm[1]})`).join(", ")
	    var msg = `Some functionalities might not work correctly. 
        			In case, please use any of the following tested browsers: ${testedBrowsersToString}`;
		var browser = getBrowser();
		for (var [testedBrowser, testedVersion] of testedBrowsers){
		    if (browser.name.toLowerCase() === testedBrowser.toLowerCase()){
		        if (browser.version === undefined || browser.version < testedVersion){
		            return msg;
		        }else{
		            return '';
		        }
		    }
		}
		return msg;
	}

	// Create the globally available Vue.eGSIM Object:
	// The function Vue.init is defined in vueutil.js
	Vue.init({{ gsims|safe }});

	// instantiate the EGSIM Vue Instance with content injected from the server and the
	// browser version check just implemented:
	var EGSIM = new Vue({
	    el: '#egsim-vue',
	    mixins: [EGSIM_BASE],  /* defined in script above */
	    data: function(){ /* FIXME: check what's the difference between returning function and dict */
	        return {
	        	selComponent: "{{sel_component}}",
	        	errormsg: incompatibleBrowser() || "{{ server_error_message }}",
	        	componentProps: {{ component_props|safe }}
	        };  
	    }
	});
	
	// create the globally available `post` function:
	// The function Vue.createPostFunction is defined in vueutil.js
	// csrf token stored in an <input> in the base.html. Get it here and use it for each post request:
	Vue.createPostFunction(EGSIM, Object.freeze({headers: {"X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value}}));

	</script>
{% endblock %}
