<div class='position-relative d-flex flex-column' style="flex: 1 1 auto;">
	<form novalidate @submit.prevent="postData(urls.flatfile_inspection_plot, forms.flatfile_inspection_plot).then(r => { responseData = r; })"
		  class='d-flex flex-row align-items-center p-3'>
		<flatfile-select
			style='flex: 1 1 auto'
			:flatfiles='flatfiles'
			v-model="forms.flatfile_inspection_plot.flatfile"
			:upload-url='urls.flatfile_validation'
			@update:model-value="(value) => { forms.flatfile_inspection_plot.x=null; forms.flatfile_inspection_plot.y=null; forms.misc.flatfile_inspection_plot.selected_flatfile_fields=flatfiles[flatfiles.map(f => f.name).indexOf(value.name || value)].columns; }"
		>
		</flatfile-select>
		<div class='input-group ms-1'>
			<label class='input-group-text'>data-query</label>
			<input type='text' v-model="forms.flatfile_inspection_plot['data-query']" class='form-control'/>
		</div>
		<div class='input-group ms-3' v-if="forms.misc.flatfile_inspection_plot.selected_flatfile_fields.length">
			<label class='input-group-text'>x</label>
			<select v-model='forms.flatfile_inspection_plot.x' class='form-control'>
				<option :value="null">None (histogram on the Y axis)</option>
				<option v-for="f in forms.misc.flatfile_inspection_plot.selected_flatfile_fields" :value="f.name">
					{% verbatim %} {{ f.name + ' (' + f.dtype + ")" }} {% endverbatim %}
				</option>
			</select>
		</div>
		<button type='button'
				v-if="forms.misc.flatfile_inspection_plot.selected_flatfile_fields.length"
				@click="var x = forms.flatfile_inspection_plot.x; forms.flatfile_inspection_plot.x =forms.flatfile_inspection_plot.y; forms.flatfile_inspection_plot.y = x"
				class='btn btn-outline-secondary btn-sm mx-1 border-0'>
			<i class="fa fa-exchange"></i>
		</button>
		<div class='input-group' v-if="forms.misc.flatfile_inspection_plot.selected_flatfile_fields.length">
			<label class='input-group-text'>y</label>
			<select v-model='forms.flatfile_inspection_plot.y' class='form-control'>
				<option :value="null">None (histogram on the X axis)</option>
				<option v-for="f in forms.misc.flatfile_inspection_plot.selected_flatfile_fields" :value="f.name">
					{% verbatim %} {{ f.name + ' (' + f.dtype + ")" }} {% endverbatim %}
				</option>
			</select>
		</div>
		<button type='button'
				@click="var data = Object.assign({}, forms.flatfile_inspection_plot, {format: 'json'}); postData(urls.flatfile_inspection_plot, data).then(r => r.json()).then(data => { responses.flatfile_inspection_plot=data.plots; })"
				:disabled='forms.flatfile_inspection_plot.x == forms.flatfile_inspection_plot.y'
				class='btn btn-primary ms-3 text-nowrap'
				title='Visualize flatfile data in an interactive plot'>
			<i class='fa fa-bar-chart'></i> Display plot
		</button>
	</form>
	<plots-div
		:data="responses.flatfile_inspection_plot"
		:download-urls='urls.download_flatfile_plot'
		@image-requested='(url, data, fileName) => { downloadResult(url, data, fileName); }'
		style='flex: 1 1 auto;z-index:100'>
	</plots-div>
</div>