<div class='position-relative' style="flex: 1 1 auto;">
	<gsim-map @gsim-selected="(gs) => { form.gsim.value = Array.from(new Set(form.gsim.value.concat(gs))) }"
			  :regionalizations="form.gsim['data-regionalizations']"
			  style='position:absolute;inset:0px;z-index:0' />
	<form :form="form" :url="url" novalidate @submit.prevent="postData(url, form).then(r => { responseData = r; })"
		  class='d-flex flex-column ps-2' style='position:absolute;top:0px;bottom:0px;z-index:1'>

		<gsim-select :field="form['gsim']" :imtField="form['imt']" style="flex:1 1 auto" />

		<div style="position:relative">
			<imt-select :field="form['imt']" />
			<div v-show='predefinedSA' class="form-control small text-muted"
				 style="position:absolute;bottom:1rem;right:1rem;width:13rem;text-align:justify">
				<i class='text-warning fa fa-info-circle'></i>
				Intensity Measure will default to 'SA' with a set of pre-defined periods
			</div>
		</div>
		<div class="form-control mt-4"
			 :class="{'border-danger': scenarioHasErrors}"
			 style="flex: 1 1 0;min-height:3rem;background-color:transparent;overflow-y:auto">

		</div>

		<div class="mt-4" style="background-color:transparent">
			REMOVE HERE
		</div>
	</form>

	<trellis-plot-div :data="responseData"
					  class='invisible position-absolute start-0 top-0 end-0 bottom-0'
					  :style="{visibility: Object.keys(responseData).length ? 'visible !important' : '', 'z-index':1}">
	</trellis-plot-div>
</div>