<div class='position-relative' style="flex: 1 1 auto;">
	<div class='mb-3'>
	<form novalidate @submit.prevent="postData(urls.flatfile_inspection, forms.flatfile_inspection).then(r => { responseData = r; })"
		  class='d-flex flex-column p-3' style='position:absolute;top:0px;max-height:100%;z-index:1'>
			<div class="d-flex flex-row align-items-end" style='flex: 1 1 auto'>
				<flatfile-select
					:flatfiles='flatfiles'
					v-model="forms.flatfile_inspection.flatfile"
					:upload-url='urls.flatfile_inspection'
					@flatfile-selected="(value, columns) => {forms.misc.flatfile_inspection_columns=[null].concat(columns)}"
				>
				</flatfile-select>
				<div class='input-group ms-1'>
					<label class='input-group-text'>data-query</label>
					<input type='text' v-model="forms.flatfile_inspection['data-query']" class='form-control'/>
				</div>
				<div class='d-flex flex-column' v-if="!!forms.flatfile_inspection.flatfile">
					<label>x</label>
					<select v-model='forms.flatfile_inspection.x'>
						<option v-for="x in forms.misc.flatfile_inspection_columns">
							{% verbatim %}
							{{ x=== null ? 'None (histogram on the Y axis)' : x }}
							{% endverbatim %}
						</option>
					</select>
				</div>
				<span class='me-3'></span>
				<div class='d-flex flex-column' v-if="forms.misc.flatfile_inspection_columns.length">
					<label>y</label>
					<select v-model='forms.flatfile_inspection.y'>
						<option v-for="y in forms.misc.flatfile_inspection_columns">
							{% verbatim %}
							{{ y === null ? 'None (histogram on the X axis)' : y }}
							{% endverbatim %}
						</option>
					</select>
				</div>
				<span class='me-3'></span>
				<button type="submit" class="btn btn-primary mt-2">
					Display plot
				</button>
			</div>
	   </form>
	</div>
<!--	<flatfile-plot-div :data="responseData" class="invisible"-->
<!--					   :style='{visibility: Object.keys(responseData).length ? "visible !important" : "", flex: "1 1 auto"}'/>-->
</div>