{% extends 'base.html' %}

{% block head %}
	{% with fontawesome=True leaflet=False shapefile=False plotly=False %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block extra-head %}
	{{ block.super }}
{% endblock %}

{% block body %}
	<div class="flex-direction-col height100">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='navbarNavAltMarkup'>
		<!-- <a class="navbar-brand" href="#">{{ project_name }}</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<div class="navbar-nav">
					{% for key, value in menus.items %}
						<a class="nav-item nav-link" id='a-{{ key }}' href="#"
						onclick='return setUrlInTab("{{ key }}")'>{{ value }}</a>
					{% endfor %}
				</div>
			</div>
		</nav>
		{% for key in menus.keys %}
		<iframe id='iframe-{{ key }}' class='flexible' src='{% url key %}' ></iframe>
		{% endfor %}
	</div>
{% endblock %}	

{% block after-body %}
<script type='text/javascript'>
	// configTabs defined in base.html
	configTabs([["a-{{ menu }}", "iframe-{{ menu }}"]].concat([
		{% for key in menus.keys %}
			{% if key != menu %}
			["a-{{ key }}", "iframe-{{ key }}"]{%if not forloop.last%},{%endif%}
			{% endif %}
		{% endfor %}
		]));
	function setUrlInTab(menu){
	    var location = window.location;
	    var newHref = location.href.replace(/\/\w+$/, "/" + menu);
	    window.history.replaceState({}, document.title, newHref);
	    return false;
	}
</script>
{% endblock %}
	