{% extends 'base.html' %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column height100">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='navbarNavAltMarkup'>
			<!-- <a class="navbar-brand" href="#">{{ project_name }}</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<div class="navbar-nav">
					{% for key, value in menus.items %}
						<a class="nav-item nav-link" id='a-{{ key }}' href="#"
						onclick='return setUrlInTab("{{ key }}")'>{{ value }}</a>
					{% endfor %}
					<a class="nav-item nav-link disabled" id='a-{{ key }}' href="#"
						onclick='return false'>Testing</a>
				</div>
			</div>
		</nav>
		{% for key in menus.keys %}
		<iframe id='iframe-{{ key }}' class='flexible' src='{% url key %}' ></iframe>
		{% endfor %}
	</div>
{% endblock %}	

{% block after-body %}
<script type='text/javascript'>
	function configTabs(data){
	    // configs tabs to be clicked and visualize their content.
	    // data is an Array of 2-element tuples (tab-id, div-id), where tab is the id of the
	    // tab element (usually anchor)
	    // which, when clicked, sets visible the element whose id is div-id (usually div)
	    // and hides the others
	    // this method sets also the first tuple passed in data as the default visible/selected element
		var doc = document;
	    // define function when a tab is clicked
	    function tabClicked(tabId){
	        data.forEach(function(item){
	            [_tabId, _divId] = item;
		        var tabElm = doc.getElementById(_tabId);
		        var divElm = doc.getElementById(_divId);
		        var visible = tabId === _tabId;
		        if (visible){
		            tabElm.classList.add("active");
		            divElm.classList.remove("tab-deactivated");
			        divElm.classList.add("tab-activated");
		        }else{
		            tabElm.classList.remove("active");
		            divElm.classList.add("tab-deactivated");
			        divElm.classList.remove("tab-activated");
		        }
	    	});
	    }
	    // set onlick on each tab:
	    data.forEach(function(item){
			[tabId, divId] = item;
			doc.getElementById(tabId).addEventListener('click', function(mouseEvent) { 
			    tabClicked(mouseEvent.target.id);
			    return false;  // prevent # appearing in browser's url tab
	        });
		});
	    // select the first tab:
	    tabClicked(data[0][0]);   
	}

	configTabs([["a-{{ menu }}", "iframe-{{ menu }}"]].concat([
		{% for key in menus.keys %}
			{% if key != menu %}
			["a-{{ key }}", "iframe-{{ key }}"]{%if not forloop.last%},{%endif%}
			{% endif %}
		{% endfor %}
		]));
	function setUrlInTab(menu){
	    var location = window.location;
	    var newHref = location.href.replace(/\/\w+$/, "/" + menu);
	    window.history.replaceState({}, document.title, newHref);
	    return false;
	}
</script>
{% endblock %}
	