<nav class="nav bg-dark" style='padding:.25rem'>

	<button type="button" class='nav-link' @click="currentPage = pages.home">
		<i class="fa fa-home me-1"></i>
	</button>

	<button type="button" class='nav-link' @click="currentPage = pages.predictions">
		<i class="fa fa-area-chart me-1"></i> Model-to-Model comparison
	</button>

	<li class="nav-item dropdown">
		<button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
			<i class="fa fa-database me-1"></i> Data
		</button>
		<ul class="dropdown-menu bg-dark rounded-top-0">
			<li><button type="button" class="dropdown-item" @click="currentPage = pages.flatfile_meta_info">Compilation</button></li>
			<li><button type="button" class="dropdown-item" @click="currentPage = pages.flatfile_visualize">Visual inspection</button></li>
		</ul>
	</li>


	<button type="button" class='nav-link' @click="currentPage = pages.residuals">
		<i class="fa fa-bar-chart me-1"></i> Model-to-Data Comparison
	</button>

	<div class='d-flex flex-row align-items-center'
		 style='flex: 1 1 auto; padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);'>
		<!-- load bar to display during fetch -->
		<div id='loadbar' style='display:none;z-index:200; flex: 1 1 auto'>
			<div class="loader"></div>
		</div>
	</div>

	<button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
		<i class="fa fa-bars"></i>
	</button>
	<ul class="dropdown-menu bg-dark rounded-top-0">
		<li><button type="button" class="dropdown-item" @click="currentPage = pages.ref_and_license"><i class="fa fa-address-card-o me-1"></i>References & License</button></li>
		<li><button type="button" class="dropdown-item" @click="currentPage = pages.imprint">Imprint</button></li>
		<li><a class="dropdown-item" :href='pages.data_protection' target="_blank">Data Protection</a></li>
	</ul>

</nav>