<head>
<!-- <script type="text/javascript">
 function UnCryptMailto(s) {
	var n=0;
	var r="";
	for(var i=0; i < s.length; i++) {
		n=s.charCodeAt(i);
		if (n>=8364) {n = 128;}
		r += String.fromCharCode(n-(1));
	}
	return r;
 }
 function linkTo_UnCryptMailto(s)	{
	location.href=UnCryptMailto(s);
 }
</script>
</head>
-->

{% extends 'base.html' %}

{% block head %}
	{% with fontawesome=False leaflet=False plotly=False vue=False %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block extra-head %}
<!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/apidoc.css' %}"> -->
{% endblock %}

{% block body %}

<div class='d-flex flex-column align-items-center'>
<div style='max-width: 40em;text-align: justify;'>

<h1>License</h1>


<p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#"
class="license-text">All output data produced by the underlying API (including data
downloadable through this web portal) is licensed under
<a target='_blank' rel="license" href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /></a></p>

<p>
eGSIM source code is licensed under the <a target='_blank' href="https://www.gnu.org/licenses/agpl-3.0.en.html">
GNU Affero General Public License v.3.0 <img style='height:1.5rem' src="https://www.gnu.org/graphics/agplv3-155x51.png"></a>


<h1>References</h1>
<p>
The references of the Ground-shaking intensity models (Gsim) available in eGSIM
can be found <a href="https://docs.openquake.org/oq-engine/master/openquake.hazardlib.gsim.html"
target='_blanek'>in the Python documentation of the OpenQuake module</a>
used by the application.
</p>

<p>
eGSIM uses the following input data
(click on the links below for details such as e.g., how to cite their data
alongside eGSIM in your work):
</p>

<ul>
{% for key, value in data.items %}
    <li>
        <a href="{{value.source_url}}" target="_blank">{{key}}</a><br>
        <!-- <span class='text-muted'>License: {{value.license}}</span> -->
    </li>
{% endfor %}
</ul>

<p class='small text-muted'>
(All links provided in this page open in a new tab/window when clicked)
</p>

</div>
</div>
{% endblock %}