<div class='position-relative' style="flex: 1 1 auto;" v-if="selectedTab==3">
	<gsim-map @gsim-selected="(gs) => { forms.residuals.gsim = Array.from(new Set(forms.residuals.gsim.concat(gs))) }"
			  :regionalizations="regionalizations"
			  style='position:absolute;inset:0px;z-index:0'>
	</gsim-map>
	<form novalidate @submit.prevent="postData(urls.residuals, forms.residuals).then(r => { responseData = r; })"
		  class='d-flex flex-column p-2' style='position:absolute;top:0px;bottom:0px;z-index:1'>

		<gsim-select :selected-model-names="forms.residuals.gsim"
					 :models="models"
					 :selected-imts="forms.residuals.imt"
					 style="flex: 0 1 auto; min-height:0px">
		</gsim-select>

		<imt-select :selected-imts="forms.residuals.imt" :imts='imts' class='mt-2'></imt-select>

		<flatfile-select
			:flatfiles='flatfiles'
			:selected-flatfile="forms.residuals.flatfile"
			:data-query="forms.residuals['data-query']"
			:upload-url='urls.flatfile_upload'>
		</flatfile-select>

<!--		<div class='d-flex flex-column'>-->
<!--			<div> Model-to-data comparison </div>-->
<!--			<div class='d-flex flex-row'>-->
<!--				<button type='button' class='me-2 btn-btn-primary'>-->
<!--					<i class="fa fa-bar-chart"></i> Show-->
<!--				</button>-->
<!--				<button type='button' class='me-2 btn-btn-primary'>-->
<!--					<i class="fa fa-download"></i> Get-->
<!--				</button>-->
<!--				<button type='button' class='me-2 btn-btn-primary'>-->
<!--					<i class="fa fa-download"></i> Get with tutorial-->
<!--				</button>-->
<!--				<button type='button' class='me-2 btn-btn-primary'>-->
<!--					<i class="fa fa-download"></i> run in custom code-->
<!--				</button>-->
<!--			</div>-->
<!--		</div>-->
	</form>

<!--	<residuals-plot-div :data="responseData"-->
<!--						class='invisible'-->
<!--						style='position:absolute;inset:0px;z-index:10'-->
<!--						:style="{visibility: Object.keys(responseData).length ? 'visible !important' : ''}">-->
<!--	</residuals-plot-div>-->
</div>