<p>
A Ground Motion database (gmdb) is a set of seismic records stored in a tabular model
as horizontal rows, where the model vertical columns represent each record field.
</p>
<p>
A selection expression on a gmdb is just a string containing a
Python expression that will be evaluated for each record, returning matching rows only 
(i.e., rows for which the expression is true). The expression involves at least one column, a
comparison operator (<code>==</code>, <code>!=</code>, <code>&lt;</code>,
<code>&lt;</code>=, <code>&gt;</code>, <code>&gt;</code>=) and any value (or algebraic expression)
consistent with the column type. E.g.:</p>
<p>
<code>pga <= 0.01</code>
</p>
<p>
<code>pga != nan</code> (select records where PGA is not missing)
</p>
<p>
<code>station_name == "ASD"</code> (note quotes around string-column values)
</p>

<p>
Several simple expressions
can be wrapped in parenthesis and combined with logical operators (<code>&</code>
for logical and, <code>|</code> for logical or, and <code>~</code> for negation), e.g.:
</p>

<p>
<code>(pga != nan) & ((magnitude > 5) | ~(event_time <= "2016-08-30"))</code>
</p>

Gmdb columns summary:

<table class='selexpr_table'>
	<tr><th>Column name</th><th>Column type</th><th>Missing values stored as (empty cell=no missing value available)</th></tr>
	{% for key, values in gmt.items %}
    <tr>
        <td>{{ key }}</td>
        {% for value in values %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>