{% extends 'trellis.html' %}

{% block after-body %}
{{ block.super }}
<script type='text/javascript'>

//setup defaults:
    setTimeout(function(){
/* document.getElementById('id_gsim').options[0].selected = true;
document.getElementById('id_gsim').options[1].selected = true;
document.getElementById('__PGA').checked = true;
document.getElementById('__PGV').checked = true; */


EGSIM.toggleImtSelection('PGA');
EGSIM.toggleImtSelection('PGV');
EGSIM.$set(EGSIM, 'selectedGsims', ['AbrahamsonEtAl2014', 'AbrahamsonEtAl2014NSHMPLower']);

document.getElementById('id_magnitude').value = "3:4:5";
document.getElementById('id_distance').value = "10:20";
document.getElementById('id_dip').value = 60;
document.getElementById('id_aspect').value = 1.5
    }, 1000);

</script>
{% endblock %}
