{% extends 'base_with_form.html' %}

{% block head %}
	{% with fontawesome=False leaflet=True shapefile=True plotly=True %}
		{{ block.super }}
	{% endwith %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/trellis.css' %}">
{% endblock %}

{% block extra-head %}
	{{ block.super }}
{% endblock %}

{% block form-top %}
	{{ block.super }} <!-- no-op -->
{% endblock %}
				

{% block form-extra-divs %}
<div id='rupture' class='flexible'>
	{% for field in form.visible_fields %}
	{% if field.html_name != form.plot_type.html_name %}
	<div class="row">
		<div class="col-md-4">{{ field.label_tag }}</div>
		<div class="col-md-8">{{ field }}  <!--{perc render_field field class+="form-control" %} -->
				{% if field.help_text %}
				<p class="help-inline"><small>{{ field.help_text }}</small></p>
				{% endif %}
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}

{% block form-submit-div %}
	{{ form.plot_type }}
{% endblock %}

{% block output %}
<div class='flexible trellis-container' id='trellis'>

	<div class='flex-direction-col'>  <!-- TRELLIS Y AXIS -->
		<div v-for='value in params[gridyparam]' v-bind:style="styleForAxis('y')" style='width:10px;border:1px solid green'>
			<!-- <span v-if='gridyparam != "ylabel"'>&#123;&#123; value &#125;&#125;</span> -->
		</div>
	</div>

	<!-- <div class='flex-direction-col'>  PLOTS GRID
		<div v-for="(plots, rowindex) in grid" v-bind:style="styleForAxis('y')" class='flex-direction-row'>
			<div v-for="(plots, colindex) in grid[rowindex]" v-bind:style="styleForAxis('x')" style='position:relative'>
				<div v-bind:id="'plot_' + rowindex +  '_' + colindex" class='plot-container'>
				</div>
			</div>
		</div>
	</div> -->
	<div class='flex-direction-col' style='position:relative'> <!--  PLOTS GRID -->
		<div class='trellis-plots-container' id='trellis-plots-container' style='border:1px solid red'></div>
	</div>
	
	<div class='flex-direction-col trellis-right-panel'>  <!-- TRELLIS OPTIONS PANEL -->
		<div>  <!-- TRACES LEGEND / COLORS -->
			<div v-for="(value, key) in traceColors">
				<div v-bind:style="{backgroundColor: value}"> &#123;&#123; key &#125;&#125;</div>
			</div>
		
		</div>
		<div>
			<div v-for='(values, key) in selectableParams'>
				<div>&#123;&#123; key &#125;&#125;:</div>
				<select v-model="selectedParams[key]">
					<option v-for='value in params[key]'>
						&#123;&#123; value &#125;&#125;
					</option>
				</select>
			</div>
		</div>
		<div>
			<div>Group vertically by:</div>
			<select v-model='gridyparam'>
				<option v-for='key in groupableParams' v-bind:value="key">
					&#123;&#123; key == 'ylabel' ? 'imt' : key &#125;&#125;
				</option>
			</select>
		</div>
		<div>
			<div>Group horizontally by:</div>
			<select v-model='gridxparam'>
				<option v-for='key in groupableParams' v-bind:value="key">
					&#123;&#123; key == 'ylabel' ? 'imt' : key &#125;&#125;
				</option>
			</select>
		</div>
		
	</div>
	
  	<div class="item4"></div>  <!-- this div stays "hidden" in the bottom-left corner -->
 
	<div class='flex-direction-row'>  <!-- TRELLIS X AXIS -->
		<div v-for='value in params[gridxparam]' v-bind:style="styleForAxis('x')" style='height:10px;border:1px solid green'>
			<!-- <span v-if='gridxparam != "xlabel"'>&#123;&#123; value &#125;&#125;</span> -->
		</div>
	</div>
 
</div>

{% endblock %}


{% block after-body %}
{{ block.super }}
<!-- script for configuring vue instance: -->
<script type='text/javascript' src = "{% static 'js/form-configs/trellis.js' %}"></script>

<!-- script for setting up our plot_type field: add first <option> as non-selectable 'label' option,
and make the <select> submit the form onChange: -->
<script type='text/javascript'>
(function setupSubmit(){
    // get our plot_type select element just rendered
    var submitSelect = document.getElementById("id_{{ form.plot_type.html_name }}"); // https://docs.djangoproject.com/en/1.9/topics/forms/#form-rendering-options
    // create a first option acting as "label", use the django label for that:
    var option = document.createElement("option");
    option.text = "{{ form.plot_type.label }}:";
    var no_value = '';
    option.value = no_value;
    option.disabled = true;
    submitSelect.add(option, 0);
    // set the selected index to the just added option:
    submitSelect.value = option.value;
    // add event listener:
    submitSelect.onchange = function(event){
        var selectElement = event.target;
        if(selectElement.value == no_value){  // first item selected (label-like), return
            return;
        }
        // create arguments for submitForm:
		var url = 'get_trellis_plots';
		var onSuccess = TRELLIS.init; //defined in trellis.js
		var onError = function(error){
		    selectElement.value = no_value;
		};
		// submit form to vuejs:
        EGSIM.submitForm(url, onSuccess, onError);
    };
})()

//configTabs defined in base.html. 'inputsel' is the shared div with the gsims and imts
//configTabs([['a-inputsel', 'inputsel'], ['a-rupture', 'rupture']]);

</script>
{% endblock %}
