{% extends 'base_vue.html' %}

{% block head %}
	{% with plotly=True %}
		{{ block.super }}
	{% endwith %}
{% endblock %}
	
{% block main %}

	<div class='position-absolute pos-0 m-0 flex-direction-row justify-content-center'> <!-- p-3: padding=1rem -->

		<trellisdiv v-bind:eventbus="eventbus" url='{{ post_url }}'
			class='position-absolute pos-0 m-0 flex-direction-row pl-2' style='z-index:1'>
			<div slot-scope='divscope'>
                <button @click="divscope.eventbus.$emit(divscope.url + ':form:show')">params</button> <!-- show form below -->
            </div>
		</trellisdiv>
	
		<modalform url='{{ post_url }}'
			submit_element_id='{{ form.plot_type.auto_id }}'
			v-bind:eventbus="eventbus"
			class='flex-direction-col m-3 p-2' style='z-index:10'>

			<div class='flexible flex-direction-col' slot-scope='formscope'>

				<div class='flexible flex-direction-row'>

					<div id='inputsel' class="flexible flex-direction-col p-2">
						
						<gsimselect class='flexible p-2'
							name="{{ form.gsim.html_name }}"
							showfilter
							v-bind:errormsg="formscope.fielderrors['{{ form.gsim.html_name }}']"
							v-bind:avalgsims="avalGsims"
							v-bind:selectedgsims.sync="selectedGsims">
							{{ form.gsim.label }}
						</gsimselect>
						
						<imtselect
							name="{{ form.imt.html_name }}"
							v-bind:errormsg="formscope.fielderrors['{{ form.imt.html_name }}']"
							v-bind:avalgsims="avalGsims"
							v-bind:selectedgsims="selectedGsims"
							v-bind:avalimts="avalImts"
							v-bind:selectedimts.sync="selectedImts">
							{{ form.imt.label }}
						</imtselect>

					</div>
					
					<div class='flexible p-2 grid-2-columns grid-col-gap-2'>
						{% for field in form.visible_fields %}
							{% if field.html_name != form.plot_type.html_name %}
							
							<div>{{ field.label_tag }} <errorspan :text="formscope.fielderrors['{{ field.html_name }}']"></errorspan></div> {{ field }} 
							
							<div class="text-muted small text-nowrap mb-2 field-help grid-col-span">
							{{ field.help_text }}
							</div>

							{% endif %}
						{% endfor %}

					</div>

				</div>

				<div class='p-2 flex-direction-row'>
					<!-- the submit button is the plot_type field. Render manually -->
					{{ form.plot_type.label_tag }}
					<select class='form-control flexible mr-3 ml-1' size="3" name="{{ form.plot_type.html_name }}">
    					{% for choice in form.plot_type.field.choices %}
        				<option value="{{ choice.0 }}">{{ choice.1 }}</option>
    					{% endfor %}
					</select>
					<button type="submit" class='btn btn-primary mt-3 mb-2'>
		            	Display plots
		        	</button>
				</div>

			</div>

		</modalform>

	</div>
{% endblock %}


{% block after-body %}

<script type='text/javascript' src = "{% static 'js/components/errorspan.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/gsimselect.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/imtselect.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/egsimform.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/modalform.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/plotsdiv.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/trellisdiv.js' %}"></script>

{{ block.super }}
 
{% endblock %}
