{% extends 'base_vue.html' %}

{% block head %}
	{% with fontawesome=False leaflet=True plotly=False %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block extra-head %}
	{{ block.super }}
{% endblock %}
	

{% block main %}
<trmap initurl='get_tr_projects' url="{{ post_url}}" :eventbus='eventbus' v-bind:avalgsims="avalGsims" v-bind:selectedgsims.sync="selectedGsims"
	class='position-absolute pos-0 m-0 p-2'></trmap>
{% endblock %}


{% block after-body %}
<script type='text/javascript' src = "{% static 'js/components/errorspan.js' %}"></script>
<script type='text/javascript' src = "{% static 'js/components/gsimselect.js' %}"></script>
<!-- script for configuring the map (no vue instance for the moment too much overhead for such a simple task): -->
<script type='text/javascript' src = "{% static 'js/components/trmap.js' %}"></script>
{{ block.super }}
{% endblock %}
