
<thead>
	<tr>
		<th>Parameter<br><span class='text-muted'>Alternative name</span></th>
		<th>Description</th>
		<!--  <th>Optional</th>-->
	</tr>
</thead>
<tbody>
	{% for key, value in form.items %}{% if not value.is_hidden %}
	<tr>
	<td>
		{{ key }}
		{% if value.name2 %}<br><span class='text-nowrap text-muted'>{{ value.name2 }}</span>{% endif %}
	</td>
	<td>
		{% if not value.attrs.required or value.val or value.val == 0 %}
			{% if value.val or value.val == 0 %}
				(<i>OPTIONAL</i>, default: {{ value.val }})
			{% else %}
				(<i>OPTIONAL</i>)
			{% endif %}
		{% endif %}
		
		{{ value.label }}{% if not value.help %}.{% endif %}
		{% if value.help %}
			({{ value.help }}). 
		{% endif %}
		{% if value.choices %}
			{% if value.attrs.multiple %}One or more values{% else %}A value{% endif %}
			choosable from{% if not value.choices|length > 30 %}:{% endif %}
			{% if value.choices|length > 30 %}
				a list of {{ value.choices|length }} choices (too long to show)
			{% else %}
				{% for nme, lbl in value.choices %}
					{% if not forloop.first %}, {% endif %}
					{{ nme }} {% if lbl and lbl != nme %}({{ lbl }}){% endif %}
				{% endfor %}
			{% endif %}
			{% if value.choices|length == 1 %}
			(currently, only one choice is implemented)
			{% endif %}
		{% else %}
			{% if value.attrs.min or value.attrs.min == 0 %}
				Min: {{ value.attrs.min }}{% if value.attrs.max or value.attrs.max == 0%},{% endif %}
			{%endif %}
			{% if value.attrs.max or value.attrs.max == 0 %}
				Max: {{ value.attrs.max }}
			{%endif %}
		{% endif %}
	</td>
	<!--  <td>
		{% if not value.attrs.required or value.val or value.val == 0 %}✔{% endif %}
		{% if value.val or value.val == 0 %}<br>Default: {{ value.val}}{% endif %}
	</td>-->
	{% endif %}{% endfor %}
</tbody>
