name: eGSIM WEB TESTS (produces requirements.txt)

on:
  push:
    branches: [ main, master, dev ]
    paths:
      - '**/*.py'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/*.json'
  pull_request:
    branches: [ main, master ]
    paths:
      - '**/*.py'
      - '**/*.yaml'
      - '**/*.yml'
      - '**/*.json'

jobs:
  run-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.11" ]  # add more if needed (the server version should be sufficient)

    env:
      SETTINGS_MODULE: "egsim.settings.test"
      REQUIREMENTS_FILE: "./requirements/requirements-py311-linux64.txt"

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            gfortran \
            libopenblas-dev \
            liblapack-dev \
            cmake \
            pkg-config \
            proj-bin \
            proj-data \
            libproj-dev

      # Set up Python
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Create and activate virtual environment
      - name: Create virtualenv
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip 
          # install OpenQuake requirements EXCEPT django* packages:
          pip install -r "${REQUIREMENTS_FILE}" 
          # install this package (upgrade when possible to latest):
          pip install -U ".[web]" 
          # install django (upgrade aggressively):
          PIP_INDEX_URL=https://pypi.org/simple pip install -U Django --upgrade-strategy eager

      # Run Django migrations and pytest
      - name: Test eGSIM (web app)
        run: |
          source venv/bin/activate
          export DJANGO_SETTINGS_MODULE=${SETTINGS_MODULE}
          pytest --ignore=./tests/tmp/ -xvvv ./tests

      - name: Show pip freeze in workflow log
        run: |
          source venv/bin/activate
          pip freeze

      - name: Generate requirements-web.txt
        run: |
          source venv/bin/activate
          pip freeze > requirements-web.txt

      - name: Upload requirements-web.txt artifact
        # GitHub repo -> Actions -> Click on Workflow Run -> Scroll down to "Artifacts" (might take a while) -> Download requirements-web.txt
        uses: actions/upload-artifact@v4
        with:
          name: requirements-web
          path: requirements-web.txt
